<% if functional_test.expected_results %>
  <h5>Expect the following script to run without failure and return a value of <span class='fw-bolder'>"<%= functional_test.expected_results %>"</span>:</h5>
<% else %>
  <h5>Expect the following script to run without failure:</h5>
<% end %>
<div class='code-mirror-container readonly' data-controller='code-mirror'>
  <div class='code-mirror-copy-btn' data-action='click->code-mirror#copyContent'><i class="far fa-copy"></i></div>
  <div class='outter-code-mirror top'>
    <textarea class='code-mirror-text opening-async-function  hidden' data-controller='code-mirror' data-code-mirror-target='codeMirrorTextarea' data-readonly='true' data-disable-line-numbers='true'>(async () => {</textarea>
  </div>
  <div class='user-input-code-mirror'>
    <textarea class='codemirror fit-content hidden' data-code-mirror-target='codeMirrorTextarea' data-readonly='true'><%= functional_test.puppeteer_script %></textarea>
  </div>
  <div class='outter-code-mirror bottom'>
    <textarea class='code-mirror-text closing-async-function  hidden' data-controller='code-mirror' data-code-mirror-target='codeMirrorTextarea' data-readonly='true' data-disable-line-numbers='true'>})();</textarea>
  </div>
</div>