<h1 class="page-title">Functional Tests</h1>

<div class='tagsafe-container'>
  <h4 class='text-center'>New functional test</h4>
  <%= render 'form', functional_test: @functional_test, button_text: 'Create test' %>
</div>