<%= turbo_stream_from "new_functional_test_view_stream" %>

<h1 class="page-title">Functional Tests</h1>

<div class='tagsafe-container'>
  <%= render 'form', functional_test: @functional_test %>
</div>