<h1 class='page-title with-sub-title'>Functional Test</h1>
<h2 class='page-sub-title'><%= @functional_test.title %></h2>

<div class='tagsafe-container'>
  <div class='text-center'>
    <p><%= @functional_test.description %></p>
  </div>
  <textarea class='codemirror fit-content hidden' data-controller='code_mirror' data-readonly='true'><%= @functional_test.puppeteer_script %></textarea>
  
  <div class='functional-tests-to-run-container mt-3'>
    <%= render 'functional_tests_to_run/for_functional_test', functional_test: @functional_test %>
  </div>
</div>