<%= render 'tags/root_paths_page_navigation', page_title: 'Change Requests', hide_new_tag_button: true %>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-8">
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">
    <div class="lg:col-span-1 lg:col-start-1">
      <%= render 'side_nav' %>
    </div>

    <div class="flow-root space-y-6 lg:col-span-3 lg:col-start-2">
      <ul role="list" class="-my-5 divide-y divide-gray-200">

        <%= turbo_frame_tag "#{current_container.uid}_change_requests", src: list_change_requests_path(status: params[:status]) do %>
          <% 5.times do %>
            <li class="p-4 border rounded-md mb-4">
              <div class="flex items-center space-x-4 animate-pulse">
                <div class="rounded-full bg-slate-200 h-10 w-10"></div>
                <div class="min-w-0 flex-1">
                  <div class="h-2 bg-slate-200 rounded"></div>
                  <div class="h-2 bg-slate-200 rounded mt-2"></div>
                </div>
                <div>
                  <div class="h-2 bg-slate-200 rounded col-span-1 mt-2"></div>
                  <div class="h-2 bg-slate-200 rounded col-span-1 mt-2"></div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>

      </ul>
    </div>
  </div>
</div>
