<div class='min-viewport-height'>
  <div class='container d-flex h-100 flex-column justify-content-center p-5'>
    <div class='w-100 text-center'>
      <div class='nav-less-tagsafe-logo-container col-12 text-center'>
        <%= link_to root_path do %>
          <%= image_tag asset_cdn_url('/tagsafe-logo.svg'), class: 'img-fluid mb-5 enlarge-slightly-on-hover', style: 'width: 100px; height: 100px;' %>
        <% end %>
      </div>
    </div>

    <div class='w-100'>
      <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center form-card m-auto">
        <h3 class='default-font-family'>Log in</h3>
        <!-- <#%= turbo_frame_tag 'new_session' do %> !-->
          <%= render 'form' %>
        <!-- <#% end %> !-->
      </div>
    </div>
  </div>
</div>