<div class='onboading-split-container container-fluid'>
  <div class='row'>
    <div class='copy-half col-7'>
      <div class='col-6 m-auto'>
        <%= image_tag asset_cdn_url('/tagsafe-logo-with-words.svg'), class: 'img-fluid' %>
      </div>
    </div>
    <div class='form-half col-5'>
      <div class='w-100'>
        <div class='col-10 m-auto'>
          <h1 class='default-font-family mb-4'>Sign in</h1>
          <%= render 'form', domain: @domain %>
        </div>
      </div>
    </div>
  </div>
</div>