<div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center login-card">
  <h1>Login</h1>
  <!-- <#%= turbo_frame_tag 'new_session' do %> !-->
    <%= render 'form' %>
  <!-- <#% end %> !-->
</div>