.DS_Store
.env
.env*
*.env*
config/*.yml
node_modules/
node_modules/*
.serverless/
.serverless/*
*/.serverless/*
/tmp
/tmp/*
results.json
s_*.js
serverless_sdk
serverless_sdk/
serverless_sdk/*
-development-
*.mp4
*.png
*.html
timeline.json
_results/*