<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class="page-title with-sub-title">Edit Tag</h1>
      <h2 class='page-sub-title'><%= @tag.try_friendly_name %></h2>
    </div>
  </div>
</div>

<div class='p-3'>
  <div class='col-8 m-auto'>
    <%= render 'form', tag: @tag, tag_configuration: @tag_configuration, form_path: tag_tag_configuration_path(@tag, @tag_configuration) %>
  </div>
</div>