<%= turbo_stream_from "#{individual_performance_audit.id}_completion_indicator" %>
<%= turbo_frame_tag "#{individual_performance_audit.id}_completion_indicator" do %>
  <% 
    tooltip_title = case individual_performance_audit.state
                    when 'completed'
                      'Performance audit complete.'
                    when 'failed'
                      'Performance audit encountered an error.'
                    when 'pending'
                      'Performance audit currently running.'
                    end

   %>
  <div class='performance-audits-completion-indicator <%= individual_performance_audit.state %>' 
        data-controller='tooltip' 
        data-bs-toggle="tooltip" 
        data-placement="top" 
        title="<%= tooltip_title %>">
  </div>
<% end %>