<%
=begin%>
TODO: MOST LIKELY GET RID OF IN FAVOR OF audits/completion_indicator
 <div class='performance-audits-completion-indicators'>
  <% audit.individual_performance_audits_with_tag.each do |perf_audit| %>
    <%= render 'individual_performance_audits/completion_indicator', individual_performance_audit: perf_audit %>
  <% end %>
  <% audit.individual_performance_audits_without_tag.each do |perf_audit| %>
    <%= render 'individual_performance_audits/completion_indicator', individual_performance_audit: perf_audit %>
  <% end %>
</div> 
<%
=end%>