<div class='settings-sub-nav'>
  <% 
    nav_items = [
      { path: alerts_path, text: 'Triggered Alerts' },
      { path: alert_configuration_path(current_domain_user.domain_alert_configuration), text: 'Global Alert Settings' },
    ].each do |nav| 
  %>
    <% klass = request.path == nav[:path] ? 'current sub-nav-link' : 'sub-nav-link' %>
    <%= link_to nav[:text], nav[:path], class: klass %>
  <% end %>
</div>