<%= form_with model: [container, tag_snippet], data: { controller: 'loading_form code-mirror' } do |f| %>
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">
    <div class="space-y-6 lg:col-start-1 lg:col-span-4 border rounded-md overflow-hidden p-6">
      <% if local_assigns[:error_messages] && error_messages.any? %>
        <div class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: mini/x-circle -->
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">There were errors with your submission</h3>
              <div class="mt-2 text-sm text-red-700">
                <span>
                  <%= error_messages.join(' ') %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class='form-floating'>
        <label for="" class="block text-sm font-medium text-gray-700">Tag Name</label>
        <%= f.text_field :name, 
                          value: tag_snippet.name, 
                          placeholder:'e.g. "My Analytics Tag"', 
                          type:'text',
                          class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm' %>
      </div>

      <div>
        <label for="" class="block text-sm font-medium text-gray-700">Tag Snippet</label>
        <div class='code-block border rounded-md overflow-hidden'>
          <!--<div class='code-mirror-container' data-controller='code-mirror'>!-->
          <div>
            <div class='text-center py-5' data-code-mirror-target='codeMirrorLoadingIndicator'>
              <%= display_loading_icon %>
            </div>
            <textarea class='hidden'
                        name='tag_snippet[content]'
                        data-code-mirror-target='codeMirrorTextarea'
                        data-value="/*\r\n paste HTML snippet for tag here \r\n*/">
            </textarea>
          </div>
        </div>
      </div>

      <div data-controller='tag_snippet_rules_form'>
        <label class="block text-sm font-medium text-gray-700">Where should this tag be enabled?</label>

        <div>
          <div class='inline-block mr-4'>
            <label for="all_pages" class="text-sm font-medium text-gray-700 mr-1">Enable on all pages</label>
            <input data-action='change->tag_snippet_rules_form#onAllPagesRadioBtnChanged' 
                    data-tag_snippet_rules_form-target='allPagesRadioButton'
                    type='radio' 
                    id='all_pages' 
                    name='trigger_rules' 
                    value='all_pages'
                    class='h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500' 
                    checked='checked'>
          </div>
          <div class='inline-block'>
            <label for="trigger_certain_pages" class="text-sm font-medium text-gray-700 mr-1">Enable on certain pages</label>
            <input data-action='change->tag_snippet_rules_form#onAllPagesRadioBtnChanged'
                    data-tag_snippet_rules_form-target='certainPagesRadioButton'
                    type='radio' 
                    id='trigger_certain_pages' 
                    name='trigger_rules' 
                    class='h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500'>
          </div>
        </div>

        <div class='hidden mt-5' data-tag_snippet_rules_form-target='rulesOptions'>
          <div>
            <a data-action='click->tag_snippet_rules_form#addRuleInput' 
                data-rule-type='enabled' 
                class='cursor-pointer inline-flex items-center justify-center rounded-md border border-blue-700 bg-white text-blue-700 px-4 py-2 text-sm font-medium shadow-sm hover:bg-blue-50 mr-2'>
              Add Enable Rule
            </a>
            <a data-action='click->tag_snippet_rules_form#addRuleInput' 
                data-rule-type='disabled' 
                class='cursor-pointer inline-flex items-center justify-center rounded-md border border-blue-700 bg-white text-blue-700 px-4 py-2 text-sm font-medium shadow-sm hover:bg-blue-50'>
              Add Disabled Rule
            </a>
          </div>
        </div>
      </div>

      <div class="grid justify-items-end">
        <button type='submit' class='inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100'>
          Stage Tag For Deployment
        </button>
        <p class="truncate text-sm text-gray-500 text-right mt-2">Staging the tag will not deploy it live on your site immediately. <br />Tagsafe will run audits and optimize the tag deployment before allowing it to go live.</p>
      </div>
    </div>
  </div>
<% end %>