<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js" integrity="sha512-hG/Qw6E14LsVUaQRSgw0RrFA1wl5QPG1a4bCOUgwzkGPIVFsOPUPpbr90DFavEEqFMwFXPVI0NS4MzKsInlKxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.js" integrity="sha512-0sDhEPgX5DsfNcL5ty4kP6tR8H2vPkn40GwA0RYTshkbksURAlsRVnG4ECPPBQh7ZYU6S3rGvp5uhlGQUNrcmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%= render 'tags/root_paths_page_navigation', page_title: 'New Tag', hide_new_tag_button: true %>

<div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-12'>
  <%= form_with model: @tag_snippet, data: { controller: 'loading_form'} do |f| %>
    <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">
      <div class="space-y-6 lg:col-start-1 lg:col-span-4 border rounded-md overflow-hidden p-6">

        <div class='form-floating'>
          <label for="" class="block text-sm font-medium text-gray-700">Tag Name</label>
          <%= f.text_field :name, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm', placeholder:'e.g. thirdpartytag.com', type:'text' %>
        </div>

        <div>
          <label for="" class="block text-sm font-medium text-gray-700">Tag Snippet</label>
          <div class='code-block border rounded-md overflow-hidden'>
            <div class='code-mirror-container' data-controller='code-mirror'>
              <textarea
                name='tag_snippet[content]'
                data-code-mirror-target='codeMirrorTextarea'
                data-value="/*\r\n paste HTML snippet for tag here \r\n*/">
              </textarea>
            </div>
          </div>
        </div>

        <div class="grid justify-items-end">
          <button type='submit' class='inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100'>
            Stage Tag For Deployment
          </button>
          <p class="truncate text-sm text-gray-500 text-right mt-2">Staging the tag will not deploy it live on your site immediately. <br />Tagsafe will run audits and optimize the tag deployment before allowing it to go live.</p>
        </div>

        <% if @tag_snippet.errors.any? %>
          <div class="rounded-md bg-red-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: mini/x-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <h3 class="text-sm font-medium text-red-800">There were errors with your submission</h3>
                <div class="mt-2 text-sm text-red-700">
                  <span>
                    <%= @tag_snippet.errors.full_messages.join(' ') %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
