<div class='tag-builder-progression-container'>

  <% (step_num - 1).times do |i| %>
    <%= link_to [
        tag_builder_resource_path(tag),
        tag_builder_load_rules_path(tag),
        tag_builder_performance_path(tag),
      ][i], class: 'no-decoration' do %>
      <div class='tag-builder-progression-indicator complete'>
        <%= i + 1 %>
      </div>
    <% end %>
  <% end %>
  <div class='tag-builder-progression-indicator active'>
    <%= step_num %>
  </div>
  <% (4 - step_num).times do |i| %>
    <div class='tag-builder-progression-indicator inactive'>
      <%= i + step_num + 1 %>
    </div>
  <% end %>
</div>