<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/"><%= image_tag '/tagsafe-logo.svg', style: 'height: 40px' %></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Performance', admin_performance_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tag Images', admin_tag_images_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>