<div id='confirmation-modal-container' class='tagsafe-modal-container' data-controller='confirmation-modal'>
  <div class='tagsafe-modal-backdrop'>
  </div>
  <div id='confirmation-modal' class='tagsafe-modal' >
    <div class='tagsafe-modal-header text-start'>
      <span class='tagsafe-circular-btn close' data-action='click->confirmation-modal#hide'><i class='fa fa-times'></i></span>
      <h4 class='tagsafe-modal-title' data-confirmation-modal-target='title'>Title goes here...</h4>
    </div>
    <div class='tagsafe-modal-header-divider'>
    </div>
    <div class='tagsafe-modal-content'>
      <h5 data-confirmation-modal-target='confirmationText'></h5>
      <div data-confirmation-modal-target='confirmationFormContainer'>
      </div>
    </div>
  </div>
</div>