<% unless @hide_logged_out_nav %>
  <nav class="navbar navbar-expand-md navbar-light logged-out-nav p-2" data-controller='sticky-nav'>
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="/" data-controller='smooth-scroll' data-anchor='home'><%= image_tag asset_cdn_url('/tagsafe-logo-with-words.svg'), style: 'height: 40px' %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-3" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class='nav-item'>
            <a class='nav-link' href='/pricing'>Pricing</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/contact-us'>Contact</a>
          </li>
          <% if current_user.present? %>
            <%= link_to 'Dashboard', tags_path, class: 'floating-btn large m-1' %>
          <% else %>
            <li class='nav-item'>
              <a class='nav-link' href="/login">Log In</a>
            </li>
            <%= link_to 'Get Started for Free', domain_registrations_path, class: 'floating-btn large m-1' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>