<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top logged-out-nav" style='padding: 0.5rem'>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag '/tagsafe-logo-with-words.svg', style: 'height: 40px' %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% unless @hide_logged_out_nav_items %>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <a href="/login" class="tagsafe-btn outline m-1">Log In</a>
        <a href="/registrations/new" class="tagsafe-btn m-1">Get Started</a>
      </div>
    <% end %>
  </div>
</nav>