<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/monitored_scripts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_monitored_script_path %>">Monitor New Endpoint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= notification_subscribers_path %>">Manage Notifications</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Tag Safe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>