<div class='notifications-container d-flex flex-column'>
  <% if current_domain %>
    <%= turbo_stream_from "#{current_domain.id}_domain_notifications_container" %>
    <%= turbo_frame_tag "#{current_domain.id}_domain_notifications_container" do %>
    <% end %>
  <% end %>

  <% if current_user %>
    <%= turbo_stream_from "#{current_user.id}_user_notifications_container" %>
    <%= turbo_frame_tag "#{current_user.id}_user_notifications_container" do %>
    <% end %>
  <% end %>
</div>