<%= turbo_frame_tag 'server_loadable_modal' do %>
  <div id='server-loadable-modal-container' class='tagsafe-modal-container' data-controller='server-loadable-modal'>
    <div class='tagsafe-modal-backdrop'>
    </div>
    <div id='server-loadable-modal' class='tagsafe-modal'>
      <div class='tagsafe-modal-header text-start'>
        <span class='tagsafe-circular-btn close' data-action='click->server-loadable-modal#hide'><i class='fa fa-times'></i></span>
        <h4 class='tagsafe-modal-title'></h4>
      </div>
      <div class='tagsafe-modal-divider'></div>
      <div class="tagsafe-modal-dynamic-content"></div>
      <div class="tagsafe-modal-loading-container mb-3">
        <span class='spinner-border tagsafe-spinner medium'></span>
      </div>
    </div>
  </div>
<% end %>