<%= turbo_frame_tag 'server_loadable_modal' do %>
  <div id='server-loadable-modal-container' class='hidden' data-controller='server-loadable-modal'>
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
            <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
              <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <!-- Heroicon name: outline/x-mark -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-5 mb-5 text-center">
              <%= display_loading_icon %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id='server-loadable-modal-container' class='tagsafe-modal-container' data-controller='server-loadable-modal'>
    <div class='tagsafe-modal-backdrop'>
    </div>
    <div id='server-loadable-modal' class='tagsafe-modal'>
      <div class='tagsafe-modal-header text-start'>
        <span class='tagsafe-circular-btn close' data-action='click->server-loadable-modal#hide'><i class='fa fa-times'></i></span>
        <h4 class='tagsafe-modal-title'></h4>
      </div>
      <div class='tagsafe-modal-divider'></div>
      <div class="tagsafe-modal-dynamic-content"></div>
      <div class="tagsafe-modal-loading-container mb-3">
        <span class='spinner-border tagsafe-spinner medium'></span>
      </div>
    </div>
  </div>!-->
<% end %>