<div class="col-sm-12 col-md-4">
  <div class="card tag-safe-card">
    <div class="card-body">
      <h5 class="<%= test_run.result_status %>"><%= test_run.result_status.capitalize %></h5>
      <h6>Test Results:</h6>
      <p><%= test_run.results %></p>
    </div>
  </div>
</div>