<%= turbo_frame_tag "tag_#{tag.uid}_urls_to_audit" do %>
  <div class='col-6 offset-3'>
    <%= render 'urls_to_audit/form', tag: tag, domain: domain %>
  </div>

  <div class='mt-3'>
    <% urls_to_audit.each do |url_to_audit| %>
      <div class='tagsafe-pill grey removable m-1'>
        <%= url_to_audit.page_url.full_url %>
        <%= form_with model: [domain, url_to_audit], url: tag_urls_to_audit_path(tag, url_to_audit), method: :delete, class: 'd-inline' do |f| %>
          <span class='remove-btn pointer p-1' data-controller='feaux_form_submit_button'><i class='fa fa-times'></i></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>