<div class='onboading-split-container container-fluid'>
  <div class='row'>
    <div class='copy-half col-7'>
      <div class='col-6 m-auto'>
        <%= image_tag asset_cdn_url('/tagsafe-logo-with-words.svg'), class: 'img-fluid' %>
      </div>
    </div>
    <div class='form-half col-5'>
      <div class='w-100'>
        <div class='col-10 m-auto'>
          <div class='step-indicators mb-3'>
            <div class='step-indicator current'>
            </div>
            <div class='step-indicator incomplete'>
            </div>
            <div class='step-indicator incomplete'>
            </div>
          </div>
          <h3 class='default-font-family'>What is the URL of your site you'd like Tagsafe to monitor?</h3>
          <%= render 'domains/form', domain: @domain, button_text: "Create your account", button_icon_klass: 'fa-solid fa-arrow-right-long' %>
        </div>
      </div>
    </div>
  </div>
</div>