<div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center registration-card">
  <!-- <div class='card-tagsafe-logo-container'>
    <#%= image_tag '/tagsafe-logo.svg', class: 'img-fluid card-tagsafe-logo' %>
  </div> !-->
  <div class='step-indicators'>
    <div class='step-indicator current'>
    </div>
    <div class='step-indicator incomplete'>
    </div>
  </div>
  <h3 class='tagsafe-font'>Register</h3>
  <!-- <#%= turbo_frame_tag 'new_registration' do %> !-->
    <%= render 'form', user: @user %>
  <!-- <#% end %> !-->
</div>