<%= turbo_stream_from "container_#{@container.uid}_user_invites_stream" %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h1 class="page-title with-sub-title">Team Management</h1>
        <h1 class="page-sub-title">Pending Invites</h1>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= modal_link new_container_user_invite_path(@container), text: 'Invite User', klass: 'page-title-cta-btn floating-btn tagsafe-purple-bg' %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { url: container_users_path(@container), text: "Teammates" },
    { url: container_user_invites_path(@container, status: :pending), text: "Pending Invites" }
  ] %>
</div>

<div class='tagsafe-container'>
  <%= render 'user_invites/index', container: @container, pending_user_invites: @pending_user_invites, status: :pending %>
</div>