<div class="col-md-4 offset-md-4 card tagsafe-container text-center">
  <h1 class='tagsafe-font'>Invite users to <%= current_organization.name %></h1>
  <%= render 'form', organization: current_organization %>
</div>

<div class='tagsafe-container' style='margin-top: 15px;'>
  <%= render 'organization_users/index', organization_users: @organization_users %>
</div>

<div class='tagsafe-container' style='margin-top: 15px;'>
  <%= render 'index', user_invites: @pending_invites %>
</div>