<% unless @hide_footer %>
  <footer class="d-flex flex-wrap justify-content-between align-items-center ps-5 pt-4 pb-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <%= image_tag '/images/tagsafe-logo.svg', style: 'width: 35px;' %>
      </a>
      <span class="text-muted">© 2022 Tagsafe, Inc</span>
    </div>
  </footer>
<% end %>