<section class="splash-container fit-content text-start mt-5" id='how-it-works-section'>
  <div class='container-fluid'>
    <h1 class="alfa-slab mb-3 text-center">How it works</h1>
    <div class='row'>
      <div class='col-sm-12 col-md-4 text-center mt-3'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/scanning_animation' %>
          </div>
          <h4 class='mt-3'>Capture</h4>
          <p>
            Upon signing up, Tagsafe continuously scans and captures all of the third party tags on your site without any installations or tagging needed on your site.
          </p>
        </div>
      </div>
      <div class='col-sm-12 col-md-4 text-center mt-3'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/monitor-eye' %>
          </div>
          <h4 class='mt-3'>Monitor</h4>
          <p>
            We will then monitor your tags and detect whenever one of your tag providers makes a release to your site.
          </p>
        </div>
      </div>
      <div class='col-sm-12 col-md-4 text-center mt-3'>
        <div class='how-it-works-square'>
          <div class='how-it-works-icon'>
            <%= render 'partials/svgs/stethoscope' %>
          </div>
          <h4 class='mt-3'>Audit</h4>
          <p>
            A series of audits are performed against the tag capturing dozens of metrics providing you with the negative impact it is having on your site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>