  <section class="col-12 mt-3">
    <div class='row feature-row'>
      <h1 class="d-md-none feature-title alfa-slab mb-2 text-center"><%= title %></h1>
      <div class="col-sm-12 col-md-6 feature-screengrab-img-container p-2">
        <%= image_tag image_url, loading: 'lazy', class: 'img-fluid feature-screengrab-img' %>
      </div>

      <div class="col-sm-12 col-md-5 pe-5 ps-5">
        <h1 class="d-none d-md-inline feature-title alfa-slab"><%= title %></h1>
        <% (local_assigns[:descriptions] || [description]).each do |description| %>
          <p class='feature-description'><%= description %></p>
        <% end %>
      </div>
    </div>
  </section>