<section class="splash-container fit-content text-start mt-5" id='whats-the-problem'>
  <div class="container-fluid">
    <div class='row'>
      <div class="col-xs-12 col-md-6">
        <h2 class="alfa-slab mb-3 text-center">What's the problem with using tags?</h2>
        <p class="sub-header">The process of managing, deploying, and monitoring third party tags are completely broken.</p>
        <p class="sub-header">You should treat your tags with the same care and precaution that you take with your first party code.</p>
        <p class="sub-header">
          Tagsafe is a set of tools that puts you back in control of your site by providing the level of visibility into your suite of tags that you need to be effective.
        </p>
      </div>
      <div class='col-xs-12 col-md-6'>
        <img src="<%= asset_cdn_url('/pipes.png') %>" class="img-fluid">
      </div>
    </div>
  </div>
</section>