
<div class="splash-container red row">
  <div class="col-md-6 col-sm-12 text-left">
    <div class="header">
      <h1>Stop letting other people's code impact your site.</h1>
      <p class="description">
        Gain visibility into your third party JavaTag tags. Monitor changes in real time, and ensure your site is not hurt by a third party release.
      </p>
    </div>
  </div>
</div>

<div class="splash-container white row">
  
</div>