
<div class="splash-container red row">
  <div class="col-md-6 col-sm-12 text-left">
    <div class="header">
      <h1 class="brand">Tag Safe</h1>
      <h4 class="sub-heading">It's time to take control of your tags.</h4>
      <p class="description">
        Gain visibility into your third party JavaScript tags. Monitor changes in real time, and ensure your site is not hurt by a third party release.
      </p>
    </div>
  </div>
</div>

<div class="splash-container white row">
  
</div>