<div data-controller='chart'>
  <div class='timeframe-selector-container'>
    <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= @start_time %>" data-end="<%= @end_time %>" />
  </div>
  <%=
    line_chart @chart_data,
      download: true, 
      title: "Tag Uptime",
      ytitle: "Response Time (ms)",
      messages: { empty: "No checks." },
      curve: false, 
      legend: "bottom",
      library: {
        rangeSelector: true,
        hAxis: { 
          format: 'MM-DD-YYYY hh:mm' 
        }
      }
  %>
</div>