<%= turbo_frame_tag "#{current_domain.uid}_domain_tag_uptime" do %>
  <div data-controller='chart'>
    <div class='timeframe-selector-container'>
      <input type="text" name="datetimes" class='tagsafe-dotted-selector' data-chart-target='datepicker' data-start="<%= @start_time %>" data-end="<%= @end_time %>" />
    </div>
    <%=
      line_chart @chart_data,
        download: true, 
        title: "Tag Uptime",
        ytitle: "Response Time (ms)",
        messages: { empty: "No uptime data to visualize." },
        curve: false, 
        legend: "bottom",
        library: {
          rangeSelector: true,
          hAxis: { 
            format: 'MM-DD-YYYY hh:mm' 
          }
        }
    %>
  </div>
<% end %>