<div class='vertical-mini-nav'>
  <%= link_to 'Settings', settings_path, class: request.path == settings_path ? 'active' : nil %>
  <%= link_to 'Team Management', team_management_path, class: request.path == team_management_path ? 'active' : nil %>
</div>