<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-12">
  <div class="grid max-w-3xl grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-4">

    <div class="lg:col-span-1 lg:col-start-1">
      <%= render 'settings/settings_nav', container: @container %>
    </div>
    <div class="space-y-6 lg:col-span-3 lg:col-start-2 border rounded-md p-6">
      <h1 class="text-2xl font-medium text-gray-900">Settings</h1>
      <%= render 'containers/edit_form', container: @container %>
    </div>

    <div class="space-y-6 lg:col-span-3 lg:col-start-2 border rounded-md p-6 mt-10">
      <%= render 'containers/disable_tagsafe_js_form', container: @container %>
    </div>
  </div>
</div>
