<%= render 'tags/root_paths_page_navigation', page_title: 'Settings', hide_new_tag_button: true %>

<div class='d-flex'>
  <div class='col-3'>
    <%= render 'settings/settings_nav' %>
  </div>
  <div class='col-7'>
    <%= render 'containers/edit_form', container: current_container %>
  </div>
</div>