<h4 class="page-title with-sub-title">Settings</h4>
<h5 class='page-sub-title'>Tag Settings</h5>
<%= render partial: 'settings_nav' %>
<div class="tagsafe-container text-center">
  <div class='col-12 text-end'>
    <%= form_for current_domain, url: scan_domain_path(current_domain) do |f| %>
      <button type='submit' class='tagsafe-btn outline'>
        <span>Scan for tags</span>
      </button>
    <% end %>
  </div>
  <div class='form-group'>
    <%= render 'urls_to_scans/index', domain: current_domain %>
    <%= render 'non_third_party_url_patterns/index', domain: current_domain %>
  </div>
</div>