<h4 class="page-title with-sub-title">Settings</h4>
<h5 class='page-sub-title'>Tag Management</h5>
<div class="tag-safe-container">
  <% @script_subscribers.each do |script_subscriber| %>
  <% end %>
</div>