<div class="settings-sub-nav">
  <% [
    { text: "General Settings", path: "#{edit_script_subscriber_path(script_subscriber)}" },
    { text: "Performance Audit Settings", path: "#{script_subscriber_performance_audit_settings_path(script_subscriber)}" }
  ].each do |nav_item| %>
    <% klass = request.path == nav_item[:path] ? 'current sub-nav-link' : 'sub-nav-link' %>
    <%= link_to nav_item[:text], nav_item[:path], class: klass %>
  <% end %>
</div>