<%= turbo_frame_tag "#{tag_version.id}_diff" do %>
  <div class='col-12 mb-3'>
    <div class='row'>
      <div class='col-8'>
        <h5>There were <span class='fw-bold'><i id='additions-count'></i> additions</span> and <span class='fw-bold'><i id='deletions-count'></i> deletions</span> in this version.</h5>
      </div>
      <div class='col-4 text-end'>
          <a href='#' class='git-diff-split-unified-btn selected'>Split</button>
          <%= link_to 'Unified', diff_server_loadable_partials_tag_tag_version_path(tag, tag_version, diff_type: 'unified'), class: 'git-diff-split-unified-btn' %>
      </div>
    </div>
  </div>
  <div class='tag-change-content col-12'>
    <div class='expand-container'>
      <span class='expand top' data-controller='tooltip tag_version_diff_displayer' data-action='click->tag_version_diff_displayer#showLinesAbove' data-bs-toggle="tooltip" data-placement="top" title="Show more."><i class="fas fa-expand-alt"></i></span>
    </div>
    <div class='row'>
      <div class="col-6 content pe-0" data-controller='tag_version_diff' data-diff-type='deletions'>
        <%= deletions %>
      </div>
      <div class="col-6 content ps-0" data-controller='tag_version_diff' data-diff-type='additions'>
        <%= additions %>
      </div>
    </div>
    <div class='expand-container'>
      <span class='expand bottom' data-controller='tooltip tag_version_diff_displayer' data-action='click->tag_version_diff_displayer#showLinesBelow' data-bs-toggle="tooltip" data-placement="top" title="Show more."><i class="fas fa-expand-alt"></i></span>
    </div>
  </div>
<% end %>