<%= turbo_frame_tag "#{tag_version.id}_diff" do %>
  <div class='col-12 mb-3'>
    <div class='row'>
      <div class='col-8'>
        <h5>There were <span class='fw-bold'><i id='additions-count'></i> additions</span> and <span class='fw-bold'><i id='deletions-count'></i> deletions</span> in this version.</h5>
      </div>
      <div class='col-4 text-end'>
        <%= link_to 'Split', diff_server_loadable_partials_tag_tag_version_path(tag, tag_version, diff_type: 'split'), class: 'tagsafe-btn outline square', style: 'width: 50px;' %>
        <button class='tagsafe-btn square'>Unified</button>
      </div>
    </div>
  </div>
  <div class='tag-changes-container col-12'>
    <div class='tag-details-tab'>
      <span><%= tag.full_url %></span>
    </div>
    <div class='tag-change-content col-12'>
      <div class='expand-container'>
        <span class='expand top' data-controller='tooltip tag_version_diff_displayer' data-action='click->tag_version_diff_displayer#showLinesAbove' data-bs-toggle="tooltip" data-placement="top" title="Show more."><i class="fas fa-expand-alt"></i></span>
      </div>
      <div class="content" data-controller='tag_version_diff' data-diff-type='unified'>
        <%= diff %>
      </div>
      <div class='expand-container'>
        <span class='expand bottom' data-controller='tooltip tag_version_diff_displayer' data-action='click->tag_version_diff_displayer#showLinesBelow' data-bs-toggle="tooltip" data-placement="top" title="Show more."><i class="fas fa-expand-alt"></i></span>
      </div>
    </div>
  </div>
<% end %>