<div class='page-title-container'>
  <div class='container-fluid'>
    <h1 class="page-title">Get Started</h1>
  </div>
</div>

<div class='container text-center m-5'>
  <h3 class='tagsafe-font'>Enter the name of your first container.</h3>
  <%= render 'domains/form', domain: @domain %>
</div>