<div class='fill-view d-flex align-items-center justify-content-center'>
  <div class="col-sm-10 tagsafe-container p-5 d-flex align-items-center justify-content-center" style='height: 50vh'>
    <div class='container text-center'>
      <h3>Enter the domain of your site you would like TagSafe to monitor.</h3>
      <%= form_for Domain.new, data: { controller: 'loading_form' } do |f| %>
        <div class='row mb-3 mt-3'>
          <div class='col-2 p-0'>
            <select name='domain[protocol]' class='form-select text-center col-2 h-100' required>
              <option class='dropdown-item' value='https://' selected>https://</option>
              <option class='dropdown-item' value='http://'>http://</option>
            </select>
          </div>
          <div class="form-floating col-10 p-0">
            <input id='url' name='domain[url]' type='text' class='form-control' placeholder='www.tagsafe.io'>
            <label for='url'>Site URL to monitor</label>
          </div>
        </div>
        <%= render 'partials/utils/inline_form_errors' %>
        <%= f.submit 'Begin monitoring', class: 'tagsafe-btn outline large' %>
      <% end %>
    </div>
  </div>
</div>