<%= turbo_frame_tag "tag_version_#{tag_version.uid}_audits_table" do %>
  <div class='tagsafe-table mt-3'>
    <div class='tagsafe-table-head tagsafe-table-row'>
      <div class='tagsafe-table-header' style='width: 19%'>Primary Audit <%= render 'partials/utils/help_tooltip', message: 'Each tag version can have many performance audits, but must have only one primary performance audit. The primary performance is used for benchmarking and comparing against previous versions.' %></div>
      <div class='tagsafe-table-header' style='width: 19%'>Date of Audit</div>
      <div class='tagsafe-table-header' style='width: 19%'>Tagsafe Score</div>
      <div class='tagsafe-table-header' style='width: 19%'>Functional Tests Results</div>
      <!-- <div class='tagsafe-table-header' style='width: 15%'>Execution Reason</div> !-->
      <div class='tagsafe-table-header' style='width: 19%'>Performance Audited URL</div>
      <div class='tagsafe-table-header' style='width: 5%'></div>
    </div>
    <div class='tagsafe-table-body'>
      <%= turbo_frame_tag "tag_version_#{tag_version.uid}_audits_table_rows" do %>
        <%= render partial: 'audits/audit_row', 
                    collection: tag_version.audits.order(primary: :DESC).most_recent_first(timestamp_column: :enqueued_suite_at).includes(:performance_audits), 
                    as: :audit, 
                    locals: { streamed: local_assigns[:streamed] } 
        %>
      <% end %>
    </div>
  </div>
<% end %>