<%= render 'show_page_header' %>

<div class='tagsafe-container text-center col-10 offset-1'>
  <h4>Changes made to page's HTML:</h4>
  <% if @audit.include_page_change_audit %>
    <% if @audit.page_change_audit_completed? %>
      <%= turbo_frame_tag "audit_#{@audit.uid}_page_change_audit", src: tag_tag_version_audit_page_change_audit_path(@tag, @tag_version, @audit, @audit.page_change_audit) do %>
        <%= display_loading_spinner %>
      <% end %>
    <% else %>
      <h4>Page change audit is running</h4>
      <%= display_loading_spinner %>
    <% end %>
  <% else %>
    <h4>Page change detection was not run on this audit.</h4>
  <% end %>
</div>