<span class='d-block'>
  A new version of <%= tag_version.tag.try_friendly_name %> was just released (for <%= container.name %> container).
</span>
<%= link_to "View Changes", tag_path(tag_version.tag), target: '_top' %>