<style><%= Diffy::CSS %></style>

<div class="row row-no-side-margins" style="background: ">
  <div class="col-md-6 new-js-content git-diff">
    <h4 class="text-center">Previous JS:</h4>
    <%= @new_script %>
  </div>
  <div class="col-md-6 previous-js-content git-diff">
    <h4 class="text-center">New JS:</h4>
    <%= @previous_script %>
  </div>
</div>