<div class="settings-sub-nav">
  <% [
    { text: "General Settings", path: "#{edit_tag_path(tag)}" },
    { text: "Performance Audit Settings", path: "#{tag_performance_audit_settings_path(tag)}" },
    { text: 'Notification Settings', path: "#{tag_notification_settings_path(tag)}" }
  ].each do |nav_item| %>
    <% klass = request.path == nav_item[:path] ? 'current sub-nav-link' : 'sub-nav-link' %>
    <%= link_to nav_item[:text], nav_item[:path], class: klass %>
  <% end %>
</div>