<%= turbo_frame_tag "tag_#{tag.uid}_uptime_metrics" do %>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-4'>
        <div class='outlined-card'>
          <h2 class='large-card-title'><%= average_response_ms %> ms</h2>
          <h4 class='small-card-title-description'>Average response time</h4>
        </div>
      </div>
      <div class='col-4'>
        <div class='outlined-card'>
          <h2 class='large-card-title'><%= max_response_ms %> ms</h2>
          <h4 class='small-card-title-description'>Max response time</h4>
        </div>
      </div>
      <div class='col-4'>
        <div class='outlined-card'>
          <h2 class='large-card-title'><%= failed_requests %></h2>
          <h4 class='small-card-title-description'>failed requests</h4>
        </div>
      </div>
    </div>
  </div>
<% end %>