<%= turbo_stream_from "tag_#{@tag.uid}_details_view_stream" %>

<%= render 'tags/show_page_navigation', page_title: "#{@tag.try_friendly_name} audits" %>

<div class='p-5'>
  <%= render 'audits', tag: @tag, audits: @audits %>
</div>