<h5 class="page-title" style="margin-bottom: 0;">Tag Settings</h5>
<h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>

<%= render partial: 'edit_tag_nav', locals: { tag: @tag } %>

<div class="text-center tagsafe-container">
  <%= render 'page_urls/create_or_update_to_run_audits_on_form' %>
  <!-- <#%= render 'urls_to_audit/form', tag: @tag, urls_to_audit: @tag.urls_to_audit %> !-->
</div>