<%= content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class="page-title with-sub-title">Tag Settings</h1>
      <h2 class='page-sub-title'><%= @tag.try_friendly_name %></h2>
    </div>
  </div>
</div>

<%= turbo_frame_tag "tag_#{@tag.uid}_settings" do %>
  <div class="tagsafe-container p-5">
    <% if @tag.disabled? %>
      <div class="alert alert-warning col-10 offset-1" role="alert">
        <i class="fas fa-exclamation-circle"></i> Tag is currently disabled.</h6>
      </div>
    <% end %>

    <%= render 'tags/config_fields', domain: current_domain, tag: @tag, selectable_uptime_regions: @selectable_uptime_regions %>
  </div>
<% end %>