<h5 class="page-title" style="margin-bottom: 0;">Tag Settings</h5>
<h6 class="page-sub-title"><%= @tag.try_friendly_name %></h6>

<%= render partial: 'edit_tag_nav', locals: { tag: @tag } %>

<%= turbo_frame_tag "#{@tag.id}_tag_edit_general_settings" do %>
  <%= render 'edit_general_settings', tag: @tag %>
<% end %>