<%= turbo_stream_from "container_#{current_container.uid}_monitor_center_view_stream" %>

<%= render 'root_paths_page_navigation', page_title: 'Tags' %>

<%= turbo_frame_tag "#{current_container.uid}_container_tags_container", src: server_loadable_partials_tags_path(page: params[:page]) do %>
  <div class='text-center p-5'>
    <%= display_loading_spinner size: :large %>
  </div>
<% end %>
