<div class="text-center">
  <h1 class="page-title">Monitor Center</h1>
  <%= turbo_frame_tag "#{current_domain.id}_domain_tags", src: server_loadable_partials_tags_path(page: params[:page]) do %>
    Fetching tags....
  <% end %>
</div>