<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <h1 class="page-title">New Tag</h1>
    </div>
  </div>
</div>

<div class='p-3'>
  <div class='col-8 m-auto'>
    <ul class="nav nav-tabs mb-2" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="add-as-script-tab" data-bs-toggle="tab" data-bs-target="#add-as-script" type="button" role="tab" aria-controls="add-as-script" aria-selected="true">
          Add tag via script
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-as-tag-url-tab" data-bs-toggle="tab" data-bs-target="#add-as-tag-url" type="button" role="tab" aria-controls="add-as-tag-url" aria-selected="false">
          Add tag via URL
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-template-tab" data-bs-toggle="tab" data-bs-target="#add-template" type="button" role="tab" aria-controls="add-template" aria-selected="false">
          Add tag via template
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="add-as-script" role="tabpanel" aria-labelledby="add-as-script-tab" tabindex="0">
        <%= render 'tags/script_form', tag: @tag %>
      </div>
      <div class="tab-pane fade" id="add-as-tag-url" role="tabpanel" aria-labelledby="add-as-tag-url-tab" tabindex="0">
        <%= render 'tags/tag_form', tag: @tag %>
      </div>
      <div class="tab-pane fade" id="add-template" role="tabpanel" aria-labelledby="add-template-tab" tabindex="0">
        TEMPLATE FORM GOES HERE
      </div>
    </div>
  </div>
</div>