<%= turbo_frame_tag "#{container.uid}_container_tags_container" do %>
  <div class='col-12'>
    <% if tag_snippets.any? %>
      <%= render 'server_loadable_partials/tags/tag_table', tag_snippets: tag_snippets, container: container %>
    <% else %>
      <%= turbo_frame_tag "#{container.uid}_container_tags_chart" do %>
        <div class='text-center p-5 tagsafe-container'>
          <h1 class='mb-3'>You haven't added any tags yet.</h1> 
          <%= link_to 'Add one now', new_tag_snippet_path, class: 'floating-btn', target: '_top' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>