<% if tags.any? %>
  <% tags.each do |tag| %>
    <%= render 'server_loadable_partials/tags/tag', tag: tag %>
  <% end %>
  <div class="pagination-container text-center">
    <%= paginate tags %>
  </div>
<% else %>
  <%= turbo_frame_tag 'no_tags_message' do %>
    No tags...
  <% end %>
<% end %>