<div class='text-center'>
  <h2><%= test_run.functional_test.title %></h2>
  <h3><%= test_run.functional_test.description %></h3>
  <div class='mt-5'>
    <h4>Test is running...</h4>
    <%= display_loading_spinner %>
  </div>
</div>