<h4>Test passed.</h4>
<% if functional_test.expected_results %>
  <h5>Test returned the expected value of <%= functional_test.expected_results %></h5>
<% else %>
  <h5>Test completed without failure</h5>
<% end %>

<div class='test-logs-code-block mb-3'><%= test_run.logs&.html_safe %></div>

<div class='col-12'>
  <% if test_run.puppeteer_recording %>
    <%= render 'puppeteer_recordings/show', puppeteer_recording: test_run.puppeteer_recording %>
  <% end %>
</div>
