<%= turbo_frame_tag "test_run_#{test_run.uid}" do %>
  <div class='test-run col-12 text-start'>
    <% if test_run.pending? %>
      <%= display_loading_spinner size: :tiny %>
    <% elsif test_run.passed? %>
      <span class='test-run-icon passed green-text'><i class='far fa-check-circle'></i></span>
    <% elsif test_run.failed? %>
    <span class='test-run-icon failed red-text'><i class='far fa-times-circle'></i></span>
    <% end %>
    <span class='test-run-title'><%= test_run.functional_test.title %></span>
    <span class='test-run-description'><%= test_run.functional_test.description %></span>
  </div>
<% end %>