<% if audit %>
  <% if !audit.include_functional_tests %>
    <span class='fw-bolder fs-6'>Tests disabled</span>
  <% else %>
    <% if audit.num_functional_tests_to_run.zero? %>
      <span class='fw-bolder fs-6'>No tests configured</span>
    <% else %>
      <% if audit.functional_tests_pending? %>
        <span class='tagsafe-pill pulsate'>Pending</span>
      <% elsif audit.passed_all_functional_tests? %>
        <div class='tagsafe-pill green'><%= HtmlHelper.PASSED_ICON %> <span class='ms-1'><%= audit.display_functional_test_results %></span></div>
      <% else %>
        <div class='tagsafe-pill red'><%= HtmlHelper.FAILED_ICON %> <span class='ms-1'><%= audit.display_functional_test_results %></span></div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  --
<% end %>