<!--<#%= turbo_frame_tag "audit_#{audit.uid}_test_runs" do %>
  <div class='test-runs-container col-12'>
    <h5><#%= audit.test_runs_with_tag.passed.count %>/<#%= audit.test_runs_with_tag.completed.count %></h5>
    <#% test_runs.each do |test_run| %>
      <div class='row'>
        <#%= render 'test_run_row', test_run: test_run %>
      </div>
    <#% end %>
  </div>
<#% end %>!-->

<%= turbo_frame_tag "functional_test_#{functional_test.uid}_test_runs" do %>
  <div class='test-runs-table'>
    <div class='tagsafe-table'>
      <div class='tagsafe-table-head tagsafe-table-row'>
        <div class='tagsafe-table-header' style='width: 25%'>Date</div>
        <div class='tagsafe-table-header' style='width: 25%'>Test</div>
        <div class='tagsafe-table-header' style='width: 25%'>Type of Test</div>
        <div class='tagsafe-table-header' style='width: 25%'>Results</div>
      </div>
      <div class='tagsafe-table-body'>
        <%= render partial: 'test_run_row', collection: test_runs, as: :test_run, locals: { functional_test: functional_test, include_description: false } %>
      </div>
    </div>
  </div>
<% end %>