<div class='page-title-container'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-8'>
        <h5 class="page-title">Test Suite</h6>
      </div>
      <div class='col-4 page-title-cta-container'>
        <%= link_to new_functional_test_path, class: 'page-title-cta-btn floating-btn tagsafe-purple-bg' do %>
          <i class="fa-solid fa-plus"></i>
          New test
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'partials/page_navigation_items', navigation_items: [
    { url: functional_tests_path, text: 'Configured Tests' },
    { url: all_test_runs_path, text: 'Test Run Results' }
  ] %>
</div>

<% if @test_runs.any? %>
  <div class='tagsafe-container p-0'>
    <%= render 'test_runs_table', test_runs: @test_runs, turbo_frame_tag_name: "container_#{current_container.uid}_test_runs" %>
  </div>
<% else %>
  <div class='p-5 text-center'>
    <h4>No tests run.</h4>
  </div>
<% end %>