<% if @include_audit_nav %>
  <%= render 'audits/show_page_header' %>
<% else %>
  <div class='page-title-container'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-8'>
          <h1 class="page-title with-sub-title">Test Run Result</h1>
          <h2 class='page-sub-title'><%= @functional_test.title %>
        </div>
        <div class='col-4 page-title-cta-container'>
        </div>
      </div>
    </div>
    <%= render 'functional_tests/nav' %>
  </div>
<% end %>

<div class='tagsafe-container'>
  <%= render 'show', functional_test: @functional_test, test_run: @test_run, back_link: @back_link %>
</div>