/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "variables";
@import "*";

.tag-safe-font {
  font-family: $tagsafe-font-family;
}

.w-fit {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

body.logged-in {
  #content {
    margin: 0;
    background-color: #eeeeee;
    min-height: 100vh;
    &:not(.full-width) {
      width: 85%;
      float: right;
    }
    // &.full-width {
    //   width: 100%
    // }
    #inner-content {
      padding: 30px 15px 30px 15px;
    }
  }
  .breadcrumb {
    background: white;
  }
  .page-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 72px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    &.with-sub-title {
      margin-bottom: 0;
    }
  }
  .page-sub-title {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .ellipsis-dropdown {
    a.dropdown-link {
      text-decoration: none;
      color: #5d5c5c;
      i {
        font-size: 26px;
      }
      &:hover {
        i {
          color: black;
        }
      }
    }
  }
}

.tagsafe-container {
  border: 1px solid grey;
  border-radius: 15px;
  background: white;
  padding: 15px;
}

.tagsafe-circular-btn {
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  &:hover, &.active {
    background: rgb(195, 240, 255);
  }
}

.tagsafe-btn {
  border: none;
  background: $dark-tagsafe-blue;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  transition: 200ms all;
  cursor: pointer;
  border-radius: 999px;
  text-decoration: none !important;
  &:hover {
    background: $darkest-tagsafe-blue;
  }
  &.square {
    border-radius: 0px;
  }
  &.outline {
    background: white;
    border: 1px solid $dark-tagsafe-blue;
    color: $dark-tagsafe-blue;
    &:hover {
      background: $dark-tagsafe-blue;
      color: white;
    }
  }
}

.tagsafe-spinner {
  color: $tagsafe-blue;
  &.tiny {
    width: 15px;
    height: 15px;
  }
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.large {
    width: 70px;
    height: 70px;
  }
}

turbo-frame.display-form-loading {
  &:not([busy]) {
    form .submit-loading {
      display: none;
    }
  }
  &[busy] {
    form .submit-loading {
      display: inline-block;
    }
    form [type=submit] {
      display: none;
    }
  }
}

.tag-thumbnail {
  height: 50px; 
  width: 50px; 
  border-radius: 50%; 
  // border: 1px solid grey;
}

.viewport-height {
  height: 100vh;
}

.hidden {
  display: none;
}

.container-fluid {
  padding: 0;
}

.row-no-side-margins {
  margin: 15px 0px 15px 0px;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

ul.pagination {
  width: fit-content;
  margin: 0 auto;
}

.passed, .positive {
  color: green;
}

.failed, .negative {
  color: red;
}

a.no-decoration {
  text-decoration: none;
  color: black;
}

.tagsafe-pill {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  border-radius: 999px;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  &.tagsafe-blue {
    background: #cce9ff;
    color: $darkest-tagsafe-blue;
    border: 1px solid $darkest-tagsafe-blue;
  }
  &.active, &.green {
    background: rgb(200, 255, 200);
    color: green;
    border: 1px solid green;
  }
  &.not-auditing, &.orange {
    background: rgb(255, 240, 213);
    color: orange;
    border: 1px solid orange;
  }
  &.not-monitoring, &.red {
    background: rgb(255, 212, 212);
    color: red;
    border: 1px solid red;
  }
  &.removed-from-site, &.grey {
    background: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
  }
  .remove-btn {
    cursor: pointer;
  }
}

.badge.removable {
  padding: 10px;
  margin: 5px;
  a {
    text-decoration: none;
  }
  .remove-btn {
    margin: 5px;
    color: white;
    cursor: pointer;
    &:hover {
      // background-color: blue;
      text-decoration: none;
    }
  }
}

.error-container {
  background: rgb(255, 173, 173);
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.tag-safe-button {
  border-radius: 5px;
  background: white;
  border: 1px solid grey;
  font-size: 18px;
  padding: 10px;
  color: grey;
  transition: 250ms all;
  &:hover {
    color: white;
    text-decoration: none;
    background: rgb(248, 138, 138);
  }
}