/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "*";

// $brand-blue: #95d1ff;

.tag-safe-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

body.logged-in {
  #content {
    margin: 0;
    background-color: #eeeeee;
    min-height: 100vh;
    &:not(.full-width) {
      width: 85%;
      float: right;
    }
    // &.full-width {
    //   width: 100%
    // }
    #inner-content {
      padding: 30px 15px 30px 15px;
    }
  }
  .breadcrumb {
    background: white;
  }
  .page-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 72px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    &.with-sub-title {
      margin-bottom: 0;
    }
  }
  .page-sub-title {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .ellipsis-dropdown {
    a.dropdown-link {
      text-decoration: none;
      color: #5d5c5c;
      i {
        font-size: 26px;
      }
      &:hover {
        i {
          color: black;
        }
      }
    }
  }
}

.tag-safe-container {
  border: 1px solid grey;
  border-radius: 15px;
  background: white;
  padding: 15px;
}

.viewport-height {
  height: 100vh;
}

.hidden {
  display: none;
}

.container-fluid {
  padding: 0;
}

.row-no-side-margins {
  margin: 15px 0px 15px 0px;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.toast {
  background: #def3f9;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

ul.pagination {
  width: fit-content;
  margin: 0 auto;
}

.passed, .positive {
  color: green;
}

.failed, .negative {
  color: red;
}

.badge.removable {
  padding: 10px;
  margin: 5px;
  a {
    text-decoration: none;
  }
  .remove-btn {
    margin: 5px;
    color: white;
    cursor: pointer;
    &:hover {
      // background-color: blue;
      text-decoration: none;
    }
  }
}

.error-container {
  background: rgb(255, 173, 173);
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.tag-safe-button {
  border-radius: 5px;
  background: white;
  border: 1px solid grey;
  font-size: 18px;
  padding: 10px;
  color: grey;
  transition: 250ms all;
  &:hover {
    color: white;
    text-decoration: none;
    background: rgb(248, 138, 138);
  }
}