/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome-sprockets";
@import "font-awesome";
// @import "variables";
@import "*";

body.locked {
  overflow: hidden;
}

.form-control-lg:focus, .form-control:focus {
  border-color: $lighter-tagsafe-purple;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25)
}

.card-tagsafe-logo-container {
  width: 100px;
  height: 150px;
  background: white;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  border-radius: 50%;
  margin-top: -50px;
  z-index: -1;
  .card-tagsafe-logo {
    width: 50px;
    height: 50px;
    // margin: 0 auto;
  }
}

body.logged-in:not(.domains) {
  background-color: #eeeeee;
  font-family: 'Rubik', sans-serif;
  #content {
    margin: 0;
    background-color: #eeeeee;
    min-height: 100vh;
    float: right;
    transition: 500ms width;
    &:not(.collapsed-navigation) {
      width: 84%;
    }
    &.collapsed-navigation {
      width: 99%;
    }
    &.no-navigation {
      width: 100%;
    }
    #inner-content {
      padding: 30px 15px 30px 15px;
    }
  }
  
  .breadcrumb {
    padding: 40px 0px 0px 10px;
  }

  .page-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 72px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    &.with-sub-title {
      margin-bottom: 0;
    }
  }
  .page-sub-title {
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .ellipsis-dropdown {
    a.dropdown-link {
      text-decoration: none;
      color: #5d5c5c;
      i {
        font-size: 26px;
      }
      &:hover {
        i {
          color: black;
        }
      }
    }
  }
}

.tagsafe-container {
  border: 1px solid grey;
  border-radius: 15px;
  background: white;
  padding: 15px;
  margin: 15px;
}

.form-check-input:checked {
  background-color: $tagsafe-primary !important;
  border-color: $tagsafe-primary !important;
}

.tag-thumbnail {
  height: 50px; 
  width: 50px; 
  border-radius: 50%; 
  &.tiny {
    height: 25px;
    width: 25px;
  }
  &.border {
    border: 1px solid lightgrey;
  }
}

.viewport-height {
  height: 100vh;
}

.viewport-width {
  width: 100vw;
}

.fill-view {
  // accounts for #inner-content padding
  height: calc(100vh - 60px);
  width: calc(100vw - 30px);
}

.hidden {
  display: none;
}

.container-fluid {
  padding: 0;
}

.row-no-side-margins {
  margin: 15px 0px 15px 0px;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

ul.pagination {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  .page-item a.page-link {
    color: $tagsafe-primary;
  }
  .page-item.active a.page-link {
    background-color: $tagsafe-primary;
    border-color: $tagsafe-primary;
    color: white;
  }
}

.white-text { color: white !important }
.green-text { color: green !important }
.red-text { color: red !important }

.default-cursor { cursor: default }

a.no-decoration {
  text-decoration: none;
  color: black;
}

.full-screenable.expanded {
  width: 95vw;
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  z-index: 10;
  &.full-height {
    max-height: 95vh;
  }
  &:not(.no-background) {
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 10px 20px 3px rgba(87, 87, 87, 0.35);
  }
  .shadow-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color:rgba(108, 108, 108, 0.35);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.badge.removable {
  padding: 10px;
  margin: 5px;
  a {
    text-decoration: none;
  }
  .remove-btn {
    margin: 5px;
    color: white;
    cursor: pointer;
    &:hover {
      // background-color: blue;
      text-decoration: none;
    }
  }
}

.error-container {
  background: rgb(255, 173, 173);
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.tag-safe-button {
  border-radius: 5px;
  background: white;
  border: 1px solid grey;
  font-size: 18px;
  padding: 10px;
  color: grey;
  transition: 250ms all;
  &:hover {
    color: white;
    text-decoration: none;
    background: rgb(248, 138, 138);
  }
}