body.audits {
  .performance-metrics-container.minimized .additional-details {
    display: none;
  }
  .metric-row .metric {
    margin-top: 5px;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
  }
  .minimize-audit-details, .expand-audit-details {
    border: 1px solid lightgrey;
    &:not(.selected) {
      background: grey;
      color: white;
    }
    &.selected {
      background: #95d1ff;
      color: white;
    }
  }
}