body.audits {
  .performance-metrics-container.minimized .impact-to-tagsafe-score {
    display: none;
  }
  .metric-row .metric {
    margin-top: 5px;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
    cursor: default;
  }
  .performance-audit-progression-indicators-container {
    cursor: default;
    .performance-audit-progression-indicator {
      display: inline-block;
      margin: 1px;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      &.completed {
        background: #5ae55a;
      }
      &.pending {
        background: #95d1ff;
      }
      &.failed {
        background: red;
      }
    }
  }
  .test-runs-container {
    .test-run {
      border-radius: 5px;
      border: 1px solid lightgrey;
      padding: 10px;
      text-align: left;
      &:hover {
        background: lightgrey;
      }
      .test-run-title, .test-run-icon {
        font-size: 20px;
      }
      .test-run-description {
        font-size: 16px;
        display: block;
      }
    }
  }
}

.speed-index-frames-container {
  width: 100%;
  overflow-x: scroll;
  .speed-index-frames-row {
    white-space: nowrap;
    .speed-index-frame {
      width: 25%;
      display: inline-block;
      .speed-index-frame-img {
        width: 100%;
        border: 1px solid black;
      }
      .speed-index-frame-ts {
        display: block;
        text-align: center;
      }
    }
  }
}
