body.audits {
  .performance-metrics-container.minimized .impact-to-tagsafe-score {
    display: none;
  }
  .metric-row .metric {
    margin-top: 5px;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
  }
  .performance-audits-completion-indicators {
    .performance-audits-completion-indicator {
      // border: 1px solid black;
      display: inline-block;
      margin: 1px;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      &.completed {
        background: rgb(157, 255, 157);
      }
      &.pending {
        background: #95d1ff;
      }
      &.failed {
        background: red;
      }
    }
  }
  .test-runs-container {
    .test-run {
      border-radius: 5px;
      border: 1px solid lightgrey;
      padding: 10px;
      text-align: left;
      &:hover {
        background: lightgrey;
      }
      .test-run-title, .test-run-icon {
        font-size: 20px;
      }
      .test-run-description {
        font-size: 16px;
        display: block;
      }
    }
  }
}
