.code-mirror-container.tiny-font .CodeMirror .CodeMirror-lines .CodeMirror-code {
  font-size: 10px;
}

.code-mirror-container {
  position: relative;
  .CodeMirror {
    text-align: left;
    height: auto !important;
  }
  .code-mirror-copy-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 8;
    &:hover {
      color: $tagsafe-primary;
    }
  }
  
  .user-input-code-mirror {
    .CodeMirror {
      border-left: 1px solid grey;
      border-right: 1px solid grey;
    }
  }
  
  .outter-code-mirror {
    &.top .CodeMirror {
      border: 1px solid grey;
      border-bottom: none;
    }
    &.bottom .CodeMirror {
      border: 1px solid grey;
      border-top: none;
    }
    .CodeMirror, .CodeMirror-lines, .CodeMirror-activeline-background {
      cursor: default;
      background: #f7f7f7;
    }
  }
}