body.domain_audits {
  rect.highcharts-background {
    fill: white;
  }
  .domain-audit-component-explanation-container {
    padding: 10px 30px 10px 30px;
    // .domain-audit-component-title{}
    // .domain-audit-component-description{}
  }
  .domain-audit-metric-container {
    padding: 15px;
    .domain-audit-performance-metric-row {
      border-bottom: 1px solid grey;
      .domain-audit-metric-title {
        font-size: 18px;
      }
      .domain-audit-metric-body {
        font-size: 18px;
      }
    }
  }
  .progress-indicators .progress-indicator{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $dark-grey-text;
    height: 10px;
    width: 10px;
    &.filled {
      background: $tagsafe-primary;
    }
  }
  .domain-audit-breakdown-container turbo-frame.results-component[busy]{
    .loading-indicator {
      display: block;
    }
    .content {
      display: none;
    }
  }
  .domain-audit-breakdown-container turbo-frame.results-component:not([busy]){
    .loading-indicator {
      display: none;
    }
    .content {
      display: block;
    }
  }
}