$git-addition-gutter-green: #beffd5;
$git-addition-line-green: #e0ffea;
$git-deletion-gutter-red: #ffd5d4;
$git-deletion-line-red: #ffeae8;
$git-change-borders-blue: #d7f5ff;
$git-gap-in-changes-grey: #f3f6f8;
$git-toolbar-grey: #f5f8fa;

.git-diff-commit-details-container {
  border: 1px solid $soft-grey-border;
  border-radius: 6px;
  .commit-details-header {
    background: $git-toolbar-grey;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid $soft-grey-border;
    .commit-message {
      font-size: 20px;
      font-weight: 900;
    }
  }
  .commit-details-body {
    padding: 10px;
    background: white;
  }
}

.tag-details-tab {
  border: 1px solid lightgrey;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: $git-toolbar-grey;
  text-align: left;
}

.git-changes-visual-container {
  .num-additions-text, .num-deletions-text { font-size: 14px; }
  .num-additions-text { color: green };
  .num-deletions-text { color: red };
  .git-changes-visual-squares-container {
    display: inline-flex;
    align-items: center;
    .git-changes-visual-square {
      display: inline-block;
      border: 1px solid grey;
      width: 8px;
      height: 8px;
      margin: 1px;
      &.addition { background: green };
      &.deletion { background: red };
      &.neutral { background: lightgrey };
    } 
  }
}

.git-diff-split-unified-btn {
  border: none;
  background: #e1e1e1;
  color: #787878;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  border: 1px solid #787878;
  &:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
  }
  &.selected {
    background: #cdcdcd;
  }
  &:hover {
    color: #787878;
  }
  &:not(.selected):hover {
    background: #d8d8d8;
  }
}

.git-diff-container {
  background: white;
  border-radius: 0px 0px 15px 15px;
  .expand-container {
    padding-left: 10px;
    background: #f1f8fe;
    border: 1px solid lightgrey;
    &.top {
      border-top: none;
    }
    .expand {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background: #c8e3fa;
      }
    }
  }
  .diff-container {
    background: #f3f6f8;
    height: 100%;
    border: 1px solid lightgrey;
    border-top: none;
    &.second {
      border-left: none;
      li.diff-block-info span {
        visibility: hidden;
      }
    }
  }
  .content {
    word-break: break-all;
    text-align: left;
    .diff {
      overflow: inherit;
    }
    ul {
      background: #f7f7f7; // for line numbers
    }
    li {
      list-style-type: decimal;
      list-style-position: outside;
      margin-left: 35px;
      height: auto;
      &:not(.diff-block-info) {
        display: list-item;
      }
      &.diff-block-info {
        padding: 5px;
        span {
          margin-left: 35px;
        }
      }
      &::marker, .symbol {
        color: #24292f;
      }
      &.diff-block-info {
        background: $git-change-borders-blue;
      }
      &.unchanged, &.unchanged:hover {
        background: white;
      }
      &.ins, &.ins:hover {
        background: #dfd;
      }
      &.del, &.del:hover {
        background: #fee;
      }
    }
    li.diff-comment {
      display: none;
    }
    ul:not(.display-unchanged) li.unchanged:not(.display) {
      // visibility: hidden;
      // height: 0;
    }
  }
}