.navigation {
  width: 15%;
  background-color: white;
  color: #5d5c5c;
  float: left;
  height: 100vh;
  position: fixed;
  padding: 10px;
  font-size: 14px;

  ul {
    list-style: none;
    padding-left: 0;
  }
  a.nav-link {
    color: #5d5c5c;
  }
  .dropdown-item {
    color: blue;
  }
  li.nav-item {
    border-radius: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background: lightgrey;
    }
    &.current {
      background: lightgrey;
    }
  }
  .logo-container {
    margin: 25px;
    text-align: center;
    .logo-img {
      transition: 500ms all;
      &:hover {
        transform: scale(1.02, 1.02);
      }
    }
  }
  .logout-link-container {
    position: absolute;
    bottom: 10px;
  }
}