.navigation {
  width: 15%;
  // border: 1px solid black;
  background-color: white;
  color: #5d5c5c;
  float: left;
  height: 100vh;
  position: fixed;
  padding: 10px;
  font-size: 14px;
  ul {
    list-style: none;
    padding-left: 0;
  }
  a.nav-link {
    color: #5d5c5c;
  }
  .dropdown-item {
    color: blue;
  }
  li.nav-item {
    border-radius: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background: lightgrey;
    }
    &.current {
      background: lightgrey;
    }
  }
  .logo-container {
    height: 150px;
    border: 1px solid white;
    text-align: center;
  }
  .logout-link-container {
    position: absolute;
    bottom: 10px;
  }
}