body.with-fixed-top-banner .navigation {
  margin-top: 75px;
}

body:not(.with-fixed-top-banner) .navigation {
  margin-top: 0;
}

.navigation {
  &.collapsed {
    margin-left: -15%;
    // cursor: pointer;
  }
  transition: 500ms margin-left;
  width: 16%;
  left: 0;
  background-color: white;
  color: $dark-grey-text;
  float: left;
  height: 100vh;
  position: fixed;
  padding: 10px;
  font-size: 14px;

  ul {
    list-style: none;
    padding-left: 0;
  }
  a.nav-link {
    color: #5d5c5c;
    &.current, &:hover {
      color: white;
    }
  }
  .dropdown-item {
    color: blue;
  }
  li.nav-item {
    border-radius: 20px;
    text-decoration: none;
    &:hover {
      // text-decoration: underline;
      background: $tagsafe-primary;
      color: white;
      // background: lightgrey;
    }
    &.current {
      background: $tagsafe-primary;
      color: white;
    }
  }
  .logo-container {
    margin: 25px;
    text-align: center;
  }
  .navigation-profile-container {
    position: absolute;
    bottom: 50px;
    margin-left: 25%;
    .navigation-profile-trigger {
      &:hover {
        background: $tagsafe-primary;
      }
      border-radius: 50%;
      background: $tagsafe-primary;
      color: white;
      font-size: 18px;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid lightgrey;
      margin-left: 5%;
    }
    .navigation-profile-dropdown {
      color: $dark-grey-text;
      padding: 15px;
      border-radius: 15px;
      box-shadow: 0 10px 20px 3px rgba(87, 87, 87, 0.35);
      .toggle-link {
        margin: 10px 0px 10px 0px;
        padding: 10px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: $dark-grey-text;
        }
        &.selected, &:hover {
          background: lightgrey;
        }
      }
    }
  }
}

.left-hand-navigation-toggle {
  &.show-btn {
    left: 1%;
  }
  &.hide-btn {
    left: 16%;
  }
  top: 0;
  position: fixed;
  background: white;
  padding: 5px;
  cursor: pointer;
}

.logged-out-nav {
  padding: 0.5rem;
  transition: 500ms background;
  &.transparent {
    background: rgba(255, 255, 255, 0);
  }
  &.solid-white {
    box-shadow: 0px 0px 20px 1px grey;
    background: white;
  }
}

.sliding-nav {
  border-radius: 10px;
  // background: #d5d5d5;
  background: white;
  width: fit-content;
  padding: 5px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      // color: black;
      color: white;
    }
  }
  .sliding-nav-item {
    width: fit-content;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    transition: 250ms;
    &.active {
      background: $tagsafe-primary;
      box-shadow: 1px 1px 9px 1px darkgrey;
      color: white;
    }
    &:not(.active):hover {
      background: $lighter-tagsafe-purple;
      box-shadow: 1px 1px 9px 1px rgb(191, 191, 191);
    }
  }
}