.notifications-container {
  position: fixed;
  top: 5px;
  right: 15px;
  z-index: 10;
  .notification {
    border: 1px solid black; 
    border-radius: 10px;
    margin: 15px 5px 5px 5px;
    transform: matrix(1.05,0,0,1.04999995231628,0,0);
    box-shadow: 0 10px 20px 3px rgba(87, 87, 87, 0.35);
    width: 30vw;
    position: relative;
    left: 35vw;
    transition: 1s;
    background: white;
    &.success {
      background:rgb(205, 255, 205);
      border: none;
    }
    &.error {
      background:rgb(255, 147, 117);
    }
    &.animate {
      left: 0;
    }
    .notification-header {
      border-bottom: 1px solid rgb(140, 140, 140);
    }
    .exit-btn {
      vertical-align: top;
      margin-bottom: 5px;
      padding: 5px;
    }
    .notification-content {
      padding: 0px 10px 10px 10px;
      display: flex;
      align-items: center;
      .tag-thumbnail {
        margin-right: 10px;
      }
    }
  }
}

.banner-message {
  width: 100%;
  position: fixed;
  text-align: center;
  color: white;
  z-index: 1000;
  padding: 15px;
  &.success {
    background: rgb(0, 193, 0);
  }
  &.error {
    background: rgb(242, 80, 35);
  }
}