body.performance_audit_logs #page-content-wrapper {
  background-color: black !important;
  color: white;
  font-size: 14px;
  .log-container {
    span.log-line {
      word-wrap: break-word;
      display: block;
      cursor: default;
      &.overwritten-url, &.blocked-request {
        background: rgb(128, 128, 128);
      }
      &.highlight {
        background: rgb(128, 128, 128);
        &.blocked-request .log-message {
          color: red;
        }
        &.overwritten-url .log-message {
          color: green;
        }
      }
      &.break-point {
        margin-bottom: 15px;
      }
    }
    // .log-description {
    //   font-weight: bold;
    // }
    // .overwritten-url {
    //   color: orange;
    // }
    // .blocked-request {
    //   color: red;
    // }
    // .allowed-request {
    //   color: green;
    // }
    // .blocked-request:hover, .allowed-request:hover, .overwritten-url:hover,
    // .blocked-request.hovered, .allowed-request.hovered, .overwritten-url.hovered {
    //   background: lightgrey;
    // }
  }
}

.cloudwatch-logs {
  background-color: black !important;
  color: white;
  font-size: 14px;
  .cloudwatch-log {
    word-break: break-word;
    &:hover {
      background: rgb(128, 128, 128);
    }
  }
}