body.performance_audit_logs {
  .log-container {
    span {
      word-wrap: break-word;
      display: block;
    }
    .log-description {
      font-weight: bold;
    }
    .overwritten-url {
      color: orange;
    }
    .blocked-request {
      color: red;
    }
    .allowed-request {
      color: green;
    }
    .blocked-request:hover, .allowed-request:hover {
      background: lightgrey;
    }
  }
}