.progress-ring-container {
  display: flex;
  flex-direction: row;
  .progress-ring {
    margin: 0 auto;
    &.good {
      circle {
        fill: #64fb5e3b;
        &.circle-outline {
          stroke: green;
        }
      }
      .score {
        color: green;
      }
    }
    &.warn {
      circle {
        fill: #fb9c5e26;
        &.circle-outline {
          stroke: orange;
        }
      }
      .score {
        color: orange;
      }
    }
    &.danger {
      circle {
        fill: #fb5e5e29;
        &.circle-outline {
          stroke: red;
        }
      }
      .score {
        color: red;
      }
    }
    svg {
      height: 100%;
      width: 100%;
    }
  }

  circle {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;
    stroke-linecap: round;
  }

  .progress-ring circle.circle-outline.animate {
    animation: progress 1s linear;
  }

  .score {
    position: relative;
    bottom: 100px;
  }

  @keyframes progress {
    0% {
      stroke-dashoffset: 0;
    }
  }
}

.progress-ring-container .progress-ring.small {
  .score {
    bottom: 50px;
    h2 {
      font-size: 18px;
      margin-bottom: -7px;
    }
    .change-in-score {
      font-size: 10px;
    }
  }
}