.performance-audit-recording-container {
  .video-js-wrapper {
    .video-js-container {
      position: relative;
      border: 1px solid grey;
      border-radius: 5px;
      video {
        border-radius: 5px;
      }
      .playback-time {
        position: absolute;
        padding: 2px 5px 2px 5px;
        top: 0;
        right: 0;
        background: black;
        opacity: 0.3;
        color: white;
      }
    }
  }
  .performance-recording-metric-visual-title {
    border: 1px dashed grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .performance-recording-metric-visual-container {
    width: 100%;
    height: 50px;
    display: block;
    position: relative;
    .performance-recording-metric-visual {
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 0;
      transition: width 0.1s;
      transition: background 0.5s;
      background: $tagsafe-secondary;
      &.completed {
        background: $tagsafe-primary;
      }
    }
    .performance-recording-metric-visual-comparison {
      position: absolute;
      height: 100%;
      top: 0;
      &.other-audit-is-greater-than { z-index: 1; }
      &.other-audit-is-less-than { z-index: 3; }
    }
    &:hover .performance-recording-metric-visual-comparison.other-audit-is-greater-than {
      background: rgb(255, 143, 143);
      border: 1px dashed grey;
    }
    &:hover .performance-recording-metric-visual-comparison.other-audit-is-less-than {
      background: $tagsafe-secondary;
      border: 1px dashed grey;
    }
  }
}