.release-card-title {
  border: 1px solid $soft-grey-border;
  margin: 15px;
  border-radius: 2px;
  padding: 40px;
  text-align: center;
}

.release-graph-with-headers {
  padding-top: 15px;
  width: fit-content;
  .release-graph {
    width: fit-content;
    .release-graph-row {
      display: inline-flex;
      margin-right: 2px;
      text-align: center;
      width: 100%;
      padding: 0 30px 0 30px;
      justify-content: center;
    }
  }
  .release-graph-day {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-right: 5px;
    outline: rgba(27, 31, 35, 0.06);
    font-size: 10px;
    text-align: center;
    cursor: default;
    &.release-heat-5 { background-color: #007032; }
    &.release-heat-4 { background: #00a442; }
    &.release-heat-3 { background: #00c756; }
    &.release-heat-2 { background: #80eba1; }
    &.release-heat-1 { background: #eaedf0; }
    &.disabled { 
      background: repeating-linear-gradient(
        -45deg,
        rgb(143, 143, 143),
        rgb(143, 143, 143) 10px,
        rgb(94, 94, 94) 10px,
        rgb(94, 94, 94) 20px
      );
    }
  }
  .release-graph-legend {
    .release-graph-day {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 2px;
    }
  }
}

.release-list-container {
  margin: 30px;
  .release-list-month {
    margin-top: 30px;
    &.empty {
      margin-top: 75px;
    }
    .load-more-releases-btn {
      border: 1px solid $soft-grey-border;
      font-size: 16px;
      text-align: center;
      padding: 10px 20px 10px 20px;
      border-radius: 999px;
      cursor: pointer;
      color: $dark-grey-text;
      width: fit-content;
      &:hover {
        background-color: rgb(216, 216, 216);
      }
    }
    .release-list-month-header {
      font-size: 16px;
      font-weight: 800;
      margin-bottom: 40px;
      &::before {
        display: block;
        height: 1px;
        width: calc(100% - 115px);
        margin-left: 115px;
        content: "";
        background-color: $soft-grey-border;
      }
      .header-text {
        position: absolute;
        margin-top: -20px;
      }
    }
    .release-item-list {
      padding: 0px 15px 0px 15px;
    }
  }
}

.release-item {
  position: relative;
  padding: 15px 0px 15px 0px;

  &:hover {
    background: #f9f9f9;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: "";
    background-color: $soft-grey-border;
  }

  .header-dark {
    font-size: 16px;
    font-weight: 800;
    color: #5d5c5c;
  }

  .sub-header-light {
    font-size: 12px;
    font-weight: 400;
    color: #848282;
  }

  .release-icon {
    position: absolute;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: -13px;
    background-color: #cbcbcb;

    &.live {
      background-color: rgb(200, 255, 200);
      color: green;
    }

    &.blocked {
      background-color: rgb(255, 212, 212);
      color: red;
    }
  }

  .blocked-icon {
    // color: #ff8986;
    color: red;
  }
  .passed-icon {
    color: green;
  }

  .release-content {
    &.unrolled {
      padding: 0px 50px 0px 50px;
    }

    &:not(.unrolled) {
      padding: 0px 30px 0px 30px;
    }

    width: 100%;
  }

  .changes-in-release-visualization-container {
    .total-additions {
      color: green;
    }

    .total-deletions {
      color: red;
    }

    .changes-in-release-visualization {
      background-color: rgb(203, 203, 203);
      border-radius: 999px;
      width: 200px;
      height: 12px;
      position: relative;
      overflow: hidden;

      .visualization {
        position: absolute;
        height: 100%;

        &.additions {
          background-color: #3cd472;
        }

        &.deletions {
          background-color: #ff8986;
        }
      }
    }
  }
}

turbo-frame.load-more-releases-frame[busy] .load-more-releases-btn .loading-indicator {
  display: inline-block;
}

turbo-frame.load-more-releases-frame:not([busy]) .load-more-releases-btn .loading-indicator {
  display: none;
}