.tag-safe-card {
  margin: 10px;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s all;
  }
}

.git-diff {
  overflow-wrap: anywhere;
}

.metrics-container {
  .metric-row {
    border-top: 1px solid lightgrey;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    &.bottom-row {
      border-bottom: 1px solid lightgrey;
    }
    // &:nth-of-type(5), &:nth-of-type(6) {
    //   border-bottom: 1px solid lightgrey;
    // }
    .metric-title {
      text-align: left;
    }
    .metric-value {
      text-align: right;
    }
  }
}

.positive-change {
  &.good {
    color: green;
  }
  &.bad {
    color: red;
  }
}

.negative-change {
  &.bad {
    color: red;
  }
  &.good {
    color: green;
  }
}