.script_subscribers {
  .script-subscriber-chart-container {
    background: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
  }
  .script-changes-container {
    background: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    table {
      tr.removed-from-site {
        background: rgb(226, 226, 226);
      }
      td.script-name-column {
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
      }
    }
  }
}