.tag_versions {
  .tag-details-tab {
    border: 1px solid grey;
    background: #f1f8fe;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
  }
  .tag-change-content {
    background: white;
    border: 1px solid grey;
    .show-all, .show-less {
      cursor: pointer;
      padding: 5px;
    }
    .content {
      word-break: break-all;
      li {
        list-style-type: decimal;
        display: list-item;
        list-style-position: outside;
        margin-left: 4em;
        height: auto;
      }
      ul:not(.display-unchanged) li.unchanged {
        visibility: hidden;
        height: 0;
      }
    }
  }
}