.tags, .tag_preferences {
  .tag-chart-container {
    background: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
  }
  .tag-versions-container {
    background: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
  }
}
.settings-sub-nav {
  border-bottom: 2px solid navy;
  margin-bottom: 15px;
  width: fit-content;
  margin-left: 50px;
  .sub-nav-link {
    font-size: 16px;
    margin: 5px;
    color: darkgrey;
    &.current, &:hover {
      transition: 500ms all;
      color: navy;
      text-decoration: underline;
    }
  }
}