body.sessions, body.registrations, body.organizations {
  background: $tagsafe-secondary;
  #content {
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  .login-card, .registration-card {
    max-width: 500px;
  }
}