body.sessions, body.registrations, body.organizations {
  background: rgb(230, 230, 230);
  #content {
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-card, .registration-card {
    max-width: 700px;
  }
}