body.sessions, body.registrations, body.organizations {
  // rgb(248, 138, 138) red color
// rgb(230, 230, 230) grey color
  background: rgb(230, 230, 230);
  .login-card {
    padding: 15px;
    margin-top: 20vh;
  }
}