body.settings, body.tags.edit, body.alert_configurations {
  table {
    tr.removed-from-site {
      background: rgb(226, 226, 226);
    }
    tr.not-monitoring, tr.not-auditing {
      background: lightgrey;
    }
    td.script-name-column {
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
    }
  }
  .settings-title {
    display: block;
    font-weight: 900;
    font-size: 16px;
  }
  .settings-description {
    display: block;
    font-weight: 400;
    font-size: 12px;
  }
  form:not(.submitting) ~ .on-change-loading-indicator {
    display: none;
  }
  form.submitting ~ .on-change-loading-indicator {
    display: inline-block;
  }
  .overage-description-div {
    border: 1px solid $soft-grey-border;
    border-radius: 10px;
    padding: 20px;
    word-break: break-word;
    margin: 10px;
    .overage-description-title {
      font-size: 20px;
    }
    .overage-description-sub-title {
      font-size: 16px;
    }
    .overage-description-amount {
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 0;
    }
  }
}