body.settings, body.tags.edit, body.alert_configurations {
  table {
    tr.removed-from-site {
      background: rgb(226, 226, 226);
    }
    tr.not-monitoring, tr.not-auditing {
      background: lightgrey;
    }
    td.script-name-column {
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
    }
  }
  .settings-title {
    display: block;
    font-weight: 900;
    font-size: 16px;
  }
  .settings-description {
    display: block;
    font-weight: 400;
    font-size: 12px;
  }
}