body.settings {
  table {
    tr.removed-from-site {
      background: rgb(226, 226, 226);
    }
    tr.not-monitoring, tr.not-auditing {
      background: lightgrey;
    }
    td.script-name-column {
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
    }
  }
}