body.settings, body.subscription_plans, body.welcome {
  nav.simple-subscription-selection-nav {
    box-shadow: 1px 3px 13px grey;
  }
  .annual-toggle-container {
    input {
      transform: scale(2);
    }
    label {
      margin-left: 20px;
    }
  }
  .subscription-packages-headers {
    border-bottom: 1px solid $soft-grey-border;
  }
  .pricing-matrix-cell {
    background: white;
  }
  .subscription-package-header-container {
    &[data-column="1"] { 
      border-top: 6px solid orange;
      .subscription-package-title { color: orange; }
      ul li::marker { color: orange }
    }
    &[data-column="2"] { 
      border-top: 6px solid green;
      .subscription-package-title { color: green; }
      ul li::marker { color: green }
    }
    &[data-column="3"] { 
      border-top: 6px solid rgb(73, 119, 255);
      .subscription-package-title { color: rgb(73, 119, 255); }
      ul li::marker { color: rgb(73, 119, 255); }
    }
    &[data-column="4"] { 
      border-top: 6px solid navy;
      .subscription-package-title { color: navy; }
      ul li::marker { color: navy; }
    }
    text-align: center;
    padding: 15px;
    border: 1px solid $soft-grey-border;
    border-bottom: none;
    &:not([data-column='1']) {
      border-left: none;
    }
    .subscription-package-title {
      font-size: 32px;
      font-weight: 800;
    }
    .subscription-package-amount-header {
      font-size: 26px;
      font-weight: 800;
      &.strikeout {
        text-decoration: line-through;
        font-weight: 500;
        font-size: 22px;
      }
    }
    .subscription-package-amount-sub-header {
      font-size: 18px;
      ul {
        // list-style: circle;
        text-align: left;
      }
    }
  }
  .subscription-feature-row {
    border-bottom: 1px solid $soft-grey-border;
    font-size: 20px;
    line-height: 1.7;
    align-items: stretch;
    cursor: default;
    [data-controller=tooltip] {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
    &:not(.select-subscription-buttons-container):hover {
      .pricing-matrix-cell {
        background-color: rgb(240, 240, 240);
      }
    }
    .feature-title {
      padding: 15px;
    }
    .subscription-package-support-column {
      padding: 15px;
      border-right: 1px solid $soft-grey-border;
      text-align: center;
      &[data-column='2'] {
        border-left: 1px solid $soft-grey-border;
      }
      .column-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .cost-for-feature {
          font-size: 14px;
          font-style: italic;
        }
      }
    }
  }
  .upgrade-button-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}