.tag_versions {
  .tag-details-tab {
    border: 1px solid lightgrey;
    background: #f1f8fe;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
  }
  .tag-change-content {
    background: white;
    border-radius: 0px 0px 15px 15px;
    .content {
      word-break: break-all;
      .diff {
        overflow: inherit;
      }
      ul {
        background: rgb(245, 245, 245); // for line numbers
        border-left: 1px solid lightgrey;
      }
      li {
        list-style-type: decimal;
        display: list-item;
        list-style-position: outside;
        margin-left: 35px;
        height: auto;
        &.unchanged, &.unchanged:hover {
          background: white;
        }
        &.ins, &.ins:hover {
          background: #dfd;
        }
        &.del, &.del:hover {
          background: #fee;
        }
      }
      li.diff-comment {
        display: none;
      }
      ul:not(.display-unchanged) li.unchanged:not(.display) {
        visibility: hidden;
        height: 0;
      }
    }
    .expand-container {
      padding-left: 10px;
      background: #f1f8fe;
      border: 1px solid lightgrey;
      &.top {
        border-top: none;
      }
      .expand {
        cursor: pointer;
        padding: 10px;
        &:hover {
          background: #c8e3fa;
        }
      }
    }
  }
}