body.tags {
  .generic-metrics-container {
    margin: 15px;
    .generic-metric-card {
      .generic-metric-card-value {
        font-size: 74px;
      }
      .generic-metric-card-title, .generic-metric-card-value {
        font-family: 'Open Sans Condensed', sans-serif;
      }
    }
  }
  .tags {
    .tag-safe-card-container {
      padding: 15px;
    }
    .tag-safe-card {
      height: 550px;
      border-radius: 10px;
      box-shadow: 0 10px 20px 3px rgba(170,170,170,.35);
      transition: transform .25s ease-in-out, box-shadow .25s ease-in-out, border .25s ease-in-out;
      a {
        text-decoration: none;
        color: black;
      }
      .dropdown {
        margin-right: 10px;
        i {
          color: grey;
        }
      }
      .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .script-logo {
        max-height: 180px;
        margin-bottom: 15px;
      }
  
      &:hover {
        transform: matrix(1.05,0,0,1.04999995231628,0,0);
        box-shadow: 0 10px 20px 3px rgba(87, 87, 87, 0.35);
        border: 1px solid #716d6d;
        .dropdown-menu {
          color: red;
          z-index: 10000000;
        }
      }
      &.removed-from-site {
        border-color: grey;
        .card-body, .card-title {
          color: grey;
        }
      }
      a {
        height: 100%;
      }
    }
  }
}