.tag-img-thumbnail-container {
  width: 60px;
  text-align: center;
  display: inline-block;
}
.tag-name-container {
  width: calc(100% - 65px);
  display: inline-block;
  .tag-row-header {
    font-size: 16px;
    font-weight: 800;
    color: $dark-grey-text;
  }
  .tag-row-sub-header {
    font-size: 12px;
    font-weight: 400;
    color: $faded-grey-text;
  }
}