.tag-img-thumbnail-container {
  width: 60px;
  text-align: center;
  display: inline-block;
}
.tag-name-container {
  width: calc(100% - 65px);
  display: inline-block;
}

.tag-row-header {
  font-size: 16px;
  font-weight: 800;
  color: $dark-grey-text;
}
.tag-row-sub-header {
  font-size: 12px;
  font-weight: 400;
  color: $faded-grey-text;
}

.domain-tags-table-frame[busy] .search-input-container .loading-indicator {
  display: flex;
}

.tags-table {
  .search-input-container {
    position: relative;
    .loading-indicator {
      position: absolute;
      right: 15px;
      top: 0;
      height: 100%;
      display: none;
      align-items: center;
    }
    &.expanded {
      flex-grow: 1;
    }
    .expand-btn {
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        transition: 500ms background-color;
        background-color: #bdbdbd;
      }
      &.queried i {
        text-shadow: 2px 2px 7px yellow;
      }
    }
    .search-input {
      transition: 500ms width, padding, border;
    }
    &.collapsed .search-input {
      position: relative;
      display: inline-block;
      width: 0;
      padding: 0;
      border: 0;
    }
    &.expanded .search-input {
      width: calc(100% - 40px);
      padding: .375rem .75rem;
    }
  }
}

turbo-frame.frame-with-chart {
  &[busy] {
    .chart-container {
      display: none;
    }
    .loading-indicator {
      display: block;
    }
  }
  &:not([busy]) {
    .chart-container {
      display: block;
    }
    .loading-indicator {
      display: none;
    }
  }
}

.tag-current-stats-container {
  .current-metric-title {
    text-transform: uppercase;
    color: $dark-grey-text;
    font-size: 14px;
  }
  .current-metric-value {
    font-size: 18px;
    font-weight: 900;
    color: black;
  }
}