.tagsafe-font {
  font-family: $tagsafe-font-family;
}

.w-fit {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

a.no-decoration {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.with-shadow {
  box-shadow: 1px 1px 13px 0px grey;
}

.no-border {
  border: none !important;
}

.tagsafe-illuminate {
  -webkit-animation: fade-box-shadow-in-then-out 1500ms linear forwards;
  animation: fade-box-shadow-in-then-out 1500ms linear forwards;
}

@-webkit-keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

@keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

.enlarge-slightly-on-hover:hover {
  transition: 500ms all;
  transform: scale(1.02, 1.02);
}

.tagsafe-spinner-grow, .tagsafe-spinner {
  color: $tagsafe-primary;
  &.white {
    color: white;
  }
  &.tiny {
    width: 15px;
    height: 15px;
  }
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.large {
    width: 70px;
    height: 70px;
  }
}

.step-indicators {
  .step-indicator {
    width: 50px;
    height: 5px;
    display: inline-block;
    margin: 0 auto;
    &.incomplete {
      background: lightgrey;
    }
    &.complete, &.current {
      background: $tagsafe-primary;
    }
  }
}

.tagsafe-btn {
  &:not(.outline) {
    color: white !important;
  }
  border: 1px solid $tagsafe-primary;
  background: $tagsafe-primary;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: 200ms all;
  cursor: pointer;
  border-radius: 999px;
  text-decoration: none !important;
  width: fit-content;
  &:not(.outline) {
    color: white !important;
  }
  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    background: $lighter-tagsafe-purple;
  }
  &.small {
    font-size: 12px;
    padding: 2px 5px 2px 5px;
  }
  &.large {
    font-size: 22px;
    padding: 10px 35px 10px 35px;
  }
  &.square {
    border-radius: 0px;
  }
  &.red {
    background: rgb(255, 96, 96);
    border-color: rgb(255, 96, 96);
    &:hover {
      background: red;
    }
  }
  &.outline {
    background: white;
    border: 1px solid $tagsafe-primary;
    color: $tagsafe-primary;
    &:hover {
      background: $lighter-tagsafe-purple;
      color: white;
    }
    &.red {
      border: 1px solid red;
      color: red;
      &:hover {
        background: red;
        color: white;
      }
    }
  }
}


form[data-controller=loading_form] {
  .loading-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .tagsafe-spinner {
      position: absolute;
      display: none;
    }
  }
  &.loading {
    .loading-button {
      background: $tagsafe-secondary;
      cursor: default;
    }
    .loading-button .tagsafe-spinner {
      display: inline-block;
    }
    .loading-button .submit-text {
      visibility: hidden;
    }
  }
}

.tagsafe-pill {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  border-radius: 999px;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 700;
  .text {
    margin-left: 0.25rem;
  }
  &.small-text {
    font-size: 0.75rem;
  }
  &.pulsate { 
    color: $tagsafe-primary;
    * { color: $tagsafe-primary; } 
    -webkit-animation: loading-pill-pulsate 1500ms linear 1500ms infinite; 
    animation: loading-pill-pulsate 1500ms linear 1500ms infinite; 
  }
  &.pulsate-border {
    -webkit-animation: loading-pill-border-pulsate 1500ms linear 1500ms infinite; 
    animation: loading-pill-border-pulsate 1500ms linear 1500ms infinite; 
  }

  &.loading-indicator { 
    transition: background 500ms; 
    color: $tagsafe-primary;
    border: 1px solid $tagsafe-primary;
  }

  &.tagsafe-primary-purple { background: rgb(235, 238, 255) }
  &.tagsafe-primary-purple, &.tagsafe-primary-purple * { color: $tagsafe-primary }

  &.green { background: rgb(200, 255, 200) }
  &.green, &.green * { color: green }

  &.orange { background: rgb(255, 240, 213) }
  &.orange, &.orange * { color: orange }

  &.red { background: rgb(255, 212, 212) }
  &.red, &.red * { color: red }

  &.grey { background: rgb(235, 235, 235) }
  &.grey, &.grey * { color: grey }
}

@-webkit-keyframes loading-pill-pulsate {
  0%,100% { background: rgb(209, 216, 255) }
  50% { background: rgb(231, 235, 254) }
}

@keyframes loading-pill-pulsate {
  0%,100% { background: rgb(209, 216, 255) }
  50% { background: rgb(231, 235, 254) }
}

@-webkit-keyframes loading-pill-border-pulsate {
  0%,100% { background: 3px solid rgb(209, 216, 255) }
  50% { background: 3px solid rgb(231, 235, 254) }
}

@keyframes loading-pill-border-pulsate {
  0%,100% { border: 3px solid rgb(209, 216, 255) }
  50% { border: 3px solid rgb(231, 235, 254) }
}



.tagsafe-badge {
  font-size: 12px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
  &.medium {
    font-size: 14px;
  }
  &.large {
    font-size: 16px;
  }
  .text {
    font-weight: 800;
    margin: 0px 4px 0px 4px;
  }
  &.failed, &.red {
    background: red;
    .text {
      color: white;
      &.dark {
        color: black;
      }
    }
    &.colored-text .text {
      color: rgb(255, 164, 164);
    }
  }
  &.passed, &.green {
    background: green;
    .text {
      color: white;
      &.dark {
        color: black;
      }
    }
    &.colored-text .text {
      color: rgb(147, 255, 147);
    }
  }
  &.warning, &.yellow {
    background: rgb(255,193,7);
    .text {
      color: white;
      &.dark {
        color: black;
      }
    }
    &.colored-text .text {
      color: lightyellow;
    }
  }
  &.light-blue {
    background: rgb(107, 107, 255);
    .text {
      color: white;
      &.dark {
        color: black;
      }
    }
    &.colored-text .text {
      color: rgb(189, 189, 255);
    }
  }
}

.tagsafe-dotted-selector {
  border: none;
  border-bottom: 1px dashed rgb(116, 116, 116);
  color: rgb(116, 116, 116);
  cursor: pointer;
  width: 275px;
  text-align: center;
}

.spinnable-close-button, .spinnable-remove-button {
  cursor: pointer;
  i {
    transition: transform .7s ease-in-out;
  }
  &:hover i {
    transform: rotate(180deg);
    color: rgb(86, 86, 86);
  }
}