.tagsafe-font {
  font-family: $tagsafe-font-family;
}

.tagsafe-font-color {
  color: $tagsafe-primary;
}

.tagsafe-secondary-font-color {
  color: $tagsafe-secondary;
}

.w-fit {
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

a.no-decoration {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.with-shadow {
  box-shadow: $box-shadow-effect;
}

.no-border {
  border: none !important;
}

.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.tagsafe-tooltip {
  --bs-tooltip-bg: white;
}

.outlined-card {
  border: 1px solid $soft-grey-border;
  margin: 15px;
  border-radius: 2px;
  padding: 40px;
  text-align: center;
  .large-card-title {
    font-size: 28px;
  }
  .small-card-title-description {
    font-size: 14px;
  }
}

.copy-btn {
  cursor: pointer;
  color: #575757;
  &:hover {
    transform: scale(102%);
    color: #484848;
  }
}

.inline-input-and-btn {
  background: white;
  border-radius: 999px;
  display: flex;
  input {
    border: none;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  input[type=submit], button[type=submit] {
    max-width: 45%;
  }
}

.dropdown-container {
  border-bottom: 1px dashed darkgrey;
  cursor: pointer;
  width: fit-content;
  .dropdown-display-container {
    .metric-icon {
      font-size: 12px;
      margin-right: 5px;
    }
    .dropdown-indicator i {
      font-size: 12px;
      transition: 250ms transform;
    }
    &.show .dropdown-indicator i {
      transform: rotate(180deg);
    }
  }
  .dropdown-menu.show {
    box-shadow: 0 10px 20px 3px rgba(87, 87, 87, 0.35);
    .dropdown-item.active {
      background-color: lightgrey;
      color: black;
    }
    .dropdown-title {
      font-weight: 900;
    }
  }
}

.tagsafe-illuminate {
  -webkit-animation: fade-box-shadow-in-then-out 1500ms linear forwards;
  animation: fade-box-shadow-in-then-out 1500ms linear forwards;
}

@-webkit-keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

@keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

.enlarge-slightly-on-hover {
  transition: 500ms all;
  &:hover {
    transform: scale(1.02, 1.02);
  }
}

.tagsafe-spinner-grow, .tagsafe-spinner {
  color: $tagsafe-primary;
  &.white {
    color: white;
  }
  &.black {
    color: black;
  }
  &.grey {
    color: grey;
  }
  &.tiny {
    width: 15px;
    height: 15px;
    border-width: 0.15rem;
  }
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.large {
    width: 70px;
    height: 70px;
  }
}

.step-indicators {
  .step-indicator {
    width: 50px;
    height: 5px;
    display: inline-block;
    margin: 0 auto;
    &.incomplete {
      background: lightgrey;
    }
    &.complete, &.current {
      background: $tagsafe-primary;
    }
  }
}

.hot-key-indicator {
  color: $tagsafe-primary;
  background: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 0px 1px 0px 1px;
}

.tagsafe-btn {
  &:not(.outline) {
    color: white !important;
  }
  border: 1px solid $tagsafe-primary;
  background: $tagsafe-primary;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: 200ms all;
  cursor: pointer;
  border-radius: 999px;
  text-decoration: none !important;
  width: fit-content;
  text-align: center;
  &:not(.outline) {
    color: white !important;
  }
  &:disabled {
    background: grey;
    cursor: not-allowed;
    border: grey;
  }
  &:not(:disabled):hover {
    background: $lighter-tagsafe-purple;
  }
  &.small {
    font-size: 12px;
    padding: 2px 5px 2px 5px;
  }
  &.large {
    font-size: 22px;
    padding: 10px 35px 10px 35px;
  }
  &.square {
    border-radius: 0px;
  }
  &.rounded-corners {
    border-radius: 10px;
  }
  &.red {
    background: rgb(255, 96, 96);
    border-color: rgb(255, 96, 96);
    &:hover {
      background: red;
    }
  }
  &.outline {
    background: white;
    border: 1px solid $tagsafe-primary;
    color: $tagsafe-primary;
    &:hover {
      background: $lighter-tagsafe-purple;
      color: white;
    }
    &.red {
      border: 1px solid red;
      color: red;
      &:hover {
        background: red;
        color: white;
      }
    }
  }
}

.tagsafe-circular-btn {
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  &:hover, &.active {
    background-color: rgb(228, 228, 228);
  }
  &.tiny {
    height: 20px;
    width: 20px;
  }
}

.tagsafe-square-btn {
  display: inline-flex;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  align-items: center;
  justify-content: center;
  &:hover, &.active {
    background-color: rgb(228, 228, 228);
  }
}

.floating-btn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: $tagsafe-primary;
  color: white;
  border: $tagsafe-primary;
  &.large {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
  }
  &:not(:disabled) {
    &:hover, &:focus, &:active {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
      box-shadow: 0px 4px 5px 0px rgba(87, 87, 87, 0.35);
      transition: 0.3s box-shadow;
      text-decoration: none;
      &:not(.white-bg) {
        color: white;
      }
    }
  }
  &.white-bg {
    color: $dark-grey-text;
    border: 1px solid $soft-grey-border;
    background: white;
    &:hover {
      color: $dark-grey-text;
    }
  }
  &:disabled {
    background: grey;
    cursor: not-allowed;
    border: grey;
  }
}

.page-header {
  font-family: $tagsafe-font-family;
  font-size: 2.5rem;
  cursor: default;
}

.page-sub-header {
  font-family: $tagsafe-font-family;
  font-size: 1.5rem;
  cursor: default;
}

.scanning-animation-container {
  position: relative;
  .scanning-animation {
    animation: MoveUpDown 3s linear infinite;
    height: 5%;
    max-height: 20px;
    background: black;
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    border-radius: 999px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 20%;
  }
  50% {
    top: 70%;
  }
}

.meta-info-pill {
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid $soft-grey-border;
  display: inline-block;
  width: fit-content;
  cursor: default;
  .title {
    // border-right: 1px solid $soft-grey-border;
    display: inline-block;
    padding: 5px 10px 5px 10px;
  }
  .value {
    background: rgb(232, 232, 232);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-weight: 800;
    &.green {
      background: rgb(200, 255, 200);
    }
    &.orange {
      background: #ffddc4;
    }
  }
}

form[data-controller=loading_form] {
  .loading-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .tagsafe-spinner {
      position: absolute;
      display: none;
    }
  }
  &.loading {
    .loading-button {
      background: $tagsafe-secondary;
      cursor: default;
    }
    .loading-button .tagsafe-spinner {
      display: inline-block;
    }
    .loading-button .submit-text {
      visibility: hidden;
    }
  }
}

.green-glowing-circular-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(11, 184, 11);
  box-shadow: 0px 0px 7px 0px rgba(11, 184, 11, 0.6);
}

.orange-glowing-circular-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 0px 0px 7px 0px orange;
}

.red-glowing-circular-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff4343;
  box-shadow: 0px 0px 7px 0px #ff4343b3;
}

.code-block {
  border: 1px solid #bebebe;
  background-color: #efefef;
  font-style: italic;
  padding: 3px;
  border-radius: 5px;
  cursor: default;
}

.tagsafe-pill {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 999px;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  .text {
    margin-left: 0.25rem;
    z-index: 1;
  }
  &.force-content-width {
    overflow: unset;
    white-space: unset;
  }
  &.small-text {
    font-size: 0.75rem;
  }
  &.pulsate { 
    color: $tagsafe-primary;
    * { color: $tagsafe-primary; } 
    -webkit-animation: loading-pill-pulsate 1500ms linear 1500ms infinite; 
    animation: loading-pill-pulsate 1500ms linear 1500ms infinite; 
  }
  &.pulsate-border {
    -webkit-animation: loading-pill-border-pulsate 1500ms linear 1500ms infinite; 
    animation: loading-pill-border-pulsate 1500ms linear 1500ms infinite; 
  }
  &.removable .remove-btn {
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: lightgrey;
    }
  }
  .fill {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $tagsafe-secondary;
  }

  &.loading-indicator { 
    transition: background 500ms; 
    color: $tagsafe-primary;
    border: 1px solid $tagsafe-primary;
  }

  &.tagsafe-primary-purple { background: rgb(235, 238, 255) }
  &.tagsafe-primary-purple, &.tagsafe-primary-purple * { color: $tagsafe-primary }

  &.green { background: rgb(200, 255, 200) }
  &.green, &.green * { color: green }

  &.orange { background: rgb(255, 240, 213) }
  &.orange, &.orange * { color: orange }

  &.red { background: rgb(255, 212, 212) }
  &.red, &.red * { color: red }

  &.grey { background: rgb(235, 235, 235) }
  &.grey, &.grey * { color: grey }
}

@-webkit-keyframes loading-pill-pulsate {
  0%,100% { background: rgb(209, 216, 255) }
  50% { background: rgb(231, 235, 254) }
}

@keyframes loading-pill-pulsate {
  0%,100% { background: rgb(209, 216, 255) }
  50% { background: rgb(231, 235, 254) }
}

@-webkit-keyframes loading-pill-border-pulsate {
  0%,100% { background: 3px solid rgb(209, 216, 255) }
  50% { background: 3px solid rgb(231, 235, 254) }
}

@keyframes loading-pill-border-pulsate {
  0%,100% { border: 3px solid rgb(209, 216, 255) }
  50% { border: 3px solid rgb(231, 235, 254) }
}

.tagsafe-square-content {
  border-radius: 15px;
  background-color: $tagsafe-secondary;
  padding: 15px;
  margin: 15px;
}

.tagsafe-dotted-selector {
  border: none;
  border-bottom: 1px dashed rgb(116, 116, 116);
  color: rgb(116, 116, 116);
  cursor: pointer;
  width: 275px;
  text-align: center;
}
.custom-checkbox-div-container {
  display: inline-block;
  padding: 0 15px 0 15px;
  .custom-checkbox-div-input {
    display: none;
  }
  .custom-checkbox-div-input:disabled + label.custom-checkbox-div-label {
    cursor: not-allowed;
    background-color: #f0f0f0;
  }
  .custom-checkbox-div-input + label.custom-checkbox-div-label {
    &.skinny {
      padding: 13px;
      font-size: 12px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    padding: 30px;
    border-radius: 5px;
    transition: 200ms all;
    cursor: pointer;
    position: relative;
    height: 100%;
    .top-right-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      &.green {
        color: green;
      }
      &.red {
        color: red;
      }
    }
    .icon {
      width: 25%; 
      margin: 0 auto;
      margin-top: 1em;
    }
    &:hover {
      border: 2px solid $tagsafe-primary;
    }
  }
  .custom-checkbox-div-input:not(:checked) + label.custom-checkbox-div-label {
    border: 1px solid $soft-grey-border;
    .icon.checked, .top-right-icon.checked {
      display: none;
    }
    .icon.unchecked, .top-right-icon.unchecked {
      display: inline-block;
    }
  }
  .custom-checkbox-div-input:checked + label.custom-checkbox-div-label {
    border: 3px solid $tagsafe-primary;
    font-weight: 800;
    background-color: rgba(110, 132, 255, 0.1);
    .icon.checked, .top-right-icon.checked {
      display: inline-block;
    }
    .icon.unchecked, .top-right-icon.unchecked {
      display: none;
    }
  }
}