.italic {
  font-style: italic;
}

.with-shadow {
  box-shadow: 1px 1px 13px 0px grey;
}

.no-border {
  border: none !important;
}

.tagsafe-illuminate {
  -webkit-animation: fade-box-shadow-in-then-out 1500ms linear forwards;
  animation: fade-box-shadow-in-then-out 1500ms linear forwards;
}

@-webkit-keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

@keyframes fade-box-shadow-in-then-out {
  0%,100% { box-shadow: none; }
  50% { box-shadow: 0 0 8px 3px $tagsafe-primary; }
}

.tagsafe-spinner-grow, .tagsafe-spinner {
  color: $tagsafe-primary;
  &.white {
    color: white;
  }
  &.tiny {
    width: 15px;
    height: 15px;
  }
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.large {
    width: 70px;
    height: 70px;
  }
}

.step-indicators {
  .step-indicator {
    width: 50px;
    height: 5px;
    display: inline-block;
    margin: 0 auto;
    &.incomplete {
      background: lightgrey;
    }
    &.complete, &.current {
      background: $tagsafe-primary;
    }
  }
}

.tagsafe-btn {
  &:not(.outline) {
    color: white !important;
  }
  border: none;
  background: $tagsafe-primary;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: 200ms all;
  cursor: pointer;
  border-radius: 999px;
  text-decoration: none !important;
  &:hover {
    background: $lighter-tagsafe-purple;
  }
  &.large {
    font-size: 22px;
    padding: 10px 35px 10px 35px;
  }
  &.square {
    border-radius: 0px;
  }
  &.red {
    background: rgb(255, 96, 96);
    &:hover {
      background: red;
    }
  }
  &.outline {
    background: white;
    border: 1px solid $tagsafe-primary;
    color: $tagsafe-primary;
    &:hover {
      background: $lighter-tagsafe-purple;
      color: white;
    }
    &.red {
      border: 1px solid red;
      color: red;
      &:hover {
        background: red;
        color: white;
      }
    }
  }
}


form[data-controller=loading_form] {
  .loading-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .tagsafe-spinner {
      position: absolute;
      display: none;
    }
  }
  &.loading {
    .loading-button {
      background: $tagsafe-secondary;
      cursor: default;
    }
    .loading-button .tagsafe-spinner {
      display: inline-block;
    }
    .loading-button .submit-text {
      visibility: hidden;
    }
  }
}

.tagsafe-dotted-selector {
  border: none;
  border-bottom: 1px dashed rgb(116, 116, 116);
  color: rgb(116, 116, 116);
  cursor: pointer;
  width: 275px;
  text-align: center;
}