body.welcome {
  .alfa-slab {
    font-family: 'Alfa Slab One', cursive;
  }
  .main-header {
    font-size: 4em;
  }
  .sub-header {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  .splash-container {
    // border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    height: calc(100vh - 66px);
    background: $tagsafe-secondary;
  }
  .learn-more-form {
    input[name=email] {
      height: 50px;
      border-radius: 100px;
      width: 40vw;
      padding: 10px;
      font-size: 24px;
      border: none;
      text-align: center;
    }
  }
  @media(max-width: 1100px) {
    .learn-more-form input[name=email] {
      font-size: 20px;
    }
  }
  @media(max-width: 1000px) {
    .learn-more-form input[name=email] {
      font-size: 16px;
    }
  }
  @media(max-width: 850px) {
    .learn-more-form input[name=email] {
      font-size: 12px;
    }
  }
  @media(max-width: 677px) {
    .splash-container {
      padding: 35px;
    }
    .main-header {
      font-size: 3.5em;
    }
    .sub-header {
      font-size: 1.25em;
    }
    .learn-more-form input[name=email] {
      font-size: 18px;
      width: 60vw;
    }
  }
  @media(max-width: 677px) { 
    .learn-more-form input[name=email] {
      font-size: 14px;
    }
  }
  @media(max-width: 530px) {
    .learn-more-form input[name=email] {
      width: 90vw;
    }
  }
  @media(max-width: 425px) {
    .splash-container {
      padding: 15px;
    }
    .main-header {
      font-size: 3em;
    }
    .sub-header {
      font-size: 1em;
    }
    .learn-more-form {
      input[name=email] {
        font-size: 16px;
      }
      input[type=submit] {
        font-size: 16px;
      }
    }
  }
  @media(max-width: 400px) {
    .learn-more-form {
      input[name=email] {
        font-size: 14px;
      }
    }
  }
  @media(max-width: 350px) {
    .learn-more-form {
      input[name=email] {
        font-size: 12px;
      }
    }
  }
}