<div class='container'>
  <div class='nav-less-tagsafe-logo-container col-12 text-center'>
    <%= link_to logout_path(redirect_path: '/') do %>
      <%= image_tag '/tagsafe-logo.svg', class: 'img-fluid mb-5 enlarge-slightly-on-hover', style: 'width: 100px; height: 100px;' %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center form-card m-auto">
    <div class='step-indicators'>
      <div class='step-indicator complete'>
      </div>
      <div class='step-indicator current'>
      </div>
    </div>
    <h3>Register</h3>
    <%= render 'form' %>
  </div>
</div>