
<div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 tagsafe-container with-shadow no-border text-center registration-card">
  <div class='step-indicators'>
    <div class='step-indicator complete'>
    </div>
    <div class='step-indicator current'>
    </div>
  </div>
  <h3>Register</h3>
  <%= render 'form' %>
</div>