<%# = render 'tags/show_page_navigation', page_title: "#{@tag.try_friendly_name} releases" %>

<div class='d-flex'>
  <div class='col-5'>
    <div class='tagsafe-container'>
      <%= turbo_frame_tag "#{@tag.uid}_release_calendar", src: release_calendar_releases_path(tag_uid: @tag.uid) do %>
        <div class='text-center p-5'>
          <%= display_loading_icon %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-7'>
    <div class='tagsafe-container'>
      <% if @tag_versions.any? %>
        <h4 class='mb-3'>Recent releases</h4>
        <div class='ps-4 pe-4'>
          <% @tag_versions.each do |tag_version| %>
            <%= render 'tag_versions/tag_version_row', tag_version: tag_version, display_tag_name: false %>
          <% end %>
        </div>
      <% else %>
        <div class='empty-state text-center p-5'>
          <h4 class='fs-3'><%= @tag.try_friendly_name %> has not made any releases to their tag yet.</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
