<span class="<%= local_assigns[:klass] ? klass : nil %>" data-controller='tooltip' data-bs-toggle="tooltip" data-placement="top" title="<%= message %>">
  <i class="far fa-question-circle"></i>
</span>