<% if local_assigns[:type] == 'grow' %>
  <span class="spinner-grow tagsafe-spinner-grow" role="status" style='<%= local_assigns[:style] %>'></span>
<% else %>
  <span class='spinner-border tagsafe-spinner <%= local_assigns[:size] ? size : 'medium' %> <%= local_assigns[:color] %>' style='<%= local_assigns[:style] %>'></span>
<% end %>