<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mail-content {
        text-align: center;
      }
      .button.button-outline-primary {
        background: white;
        border: 1px solid blue;
        color: blue;
        border-radius: 5px;
        transition: 1s all;
      }
      .button.button-outline-primary:hover {
        background: blue;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="mail-content">
      <%= yield %>
    </div>
  </body>
</html>
